{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>RIHA App</title>
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet" />
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
    <link href="{% static 'css/chosen.min.css' %}" rel="stylesheet" />
    <script src="{% static 'js/jquery-3.3.1.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/jquery.cookie.min.js' %}" crossorigin="anonymous"></script>
    <script src="{% static 'js/chosen.jquery.min.js' %}" crossorigin="anonymous"></script>
        
</head>
<body class="sb-nav-fixed">
{% block body %}
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <a class="navbar-brand" href="/">RIHA App</a><button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#"><i class="fas fa-bars"></i></button
    ><!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search" aria-describedby="basic-addon2" />
            <div class="input-group-append">
                <button class="btn btn-primary" type="button"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ml-auto ml-md-0">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userDropdown" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <div class="dropdown-menu dropdown-menu-right pt-0 pb-0" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">Settings</a>
                <div class="dropdown-divider m-0"></div>
                <a class="dropdown-item" href="/logout/">Logout</a>
            </div>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    {% block navbar %}
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    {% block cores %}
                    <a class="nav-link" href="{% url 'home' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    {% endblock cores %}
                    <div class="sb-sidenav-menu-heading">Interface</div>
                    {% block interface %}
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSecr" aria-expanded="false" aria-controls="collapseSecr">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        secretariat
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseSecr" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="{% url 'secretariat' %}">Province</a>
                            <a class="nav-link" href="{% url 'secretariat' %}">Commune</a>
                            <a class="nav-link" href="{% url 'secretariat' %}">Zone</a>
                            <a class="nav-link" href="{% url 'secretariat' %}">Quarter</a>
                        </nav>
                    </div> 
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseMgmt" aria-expanded="false" aria-controls="collapseMgmt">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        managment
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseMgmt" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class="nav-link" href="layout-static.html">Province</a>
                            <a class="nav-link" href="layout-sidenav-light.html">Commune</a>
                            <a class="nav-link" href="layout-sidenav-light.html">Quarter</a>
                        </nav>
                    </div>             
                    {% endblock interface %}
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    {% block addons %}
                    <a class="nav-link" href="charts.html">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Charts
                    </a>
                    {% endblock addons %}
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">
                    your id : <span class="font-weight-bold text-primary">{{ user.profile.id }}</span>
                </div>
                {{ user }}
            </div>
        </nav>
    </div>
    {% endblock navbar %}
    <div id="layoutSidenav_content">
        <main>      
            <ol class="breadcrumb mb-2 rounded-0">
                <li class="breadcrumb-item active">{{ h1|default:"Breadcrumb" }}</li>
            </ol>
            <div class="container-fluid">
                {% if messages %}
                    {% for message in messages %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                        <div class="alert alert-success alert-dismissible fade show text-center position-absolute" style="z-index:1" id="success-alert" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger alert-dismissible fade show text-center position-absolute" id="danger-alert" style="z-index:1" role="alert">
                            {{ message }}
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
                {% block main %}

                {% endblock main %}
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; KonstrIctor 2020</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>
{% endblock body %}
<script src="{% static 'js/bootstrap.bundle.min.js' %}" crossorigin="anonymous"></script>
<script src="{% static 'js/scripts.js' %}"></script>

<script type="text/javascript">
$(document).ready(function(){
    $("#success-alert").fadeTo(3000, 500).slideUp(500, function(){
        $("#success-alert").slideUp(500);
    });
    $("#danger-alert").fadeTo(3000, 500).slideUp(500, function(){
        $("#success-alert").slideUp(500);
    });
});
{% block scripts %}
{% endblock scripts %}
</script>
</body>

</html>
