{% extends "base.html" %}
{% block main %}
<div class="row">
  <div class="col-lg-3 col-sm-6 col-12 p-1">
    <a href="{% url 'profile_form' %}" class="btn btn-success col-12 text-decoration-none">
      <div class="item-title" style="color:white;">
        Edit
      </div>
      <div class="item-number" style="color:white;">
        edit my profile
      </div>
    </a>
  </div>
  {% for document, home_url in home_urls %}
    <div class="col-lg-3 col-sm-6 col-12 p-1 searchable">
      <a href="{% url home_url %}" class="btn btn-primary col-12 text-decoration-none">
        <div class="item-title" style="color:white;">
          Document<span class="badge badge-danger ml-2">{{ counts }}</span>
        </div>
        <div class="item-number" style="color:white;">
          {{ document }}
        </div>
      </a>
    </div>
  {% endfor %}
</div>
{% endblock main %}