{% extends "base.html" %}
{% block main %}
<div class="row">
{% for basename, home_url, counts in home_urls %}
	<div class="col-lg-3 col-sm-6 col-12 p-1 searchable">
	    <a href="{% url home_url %}" class="btn btn-primary text-decoration-none col-12">
	    	<div class="item-title" style="color:white;">
	        Document<span class="badge badge-danger ml-2">{{ counts }}</span>
	      </div>
	    	<div class="item-number" style="color:white;">
	        {{ basename }}
	    	</div>
	    </a>
	</div>
{% endfor %}
</div>
{% endblock main %}