{% extends 'pages/riha-base.html' %}
{% load static %}

{% block main-content %}

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/chosen.min.css' %}">
<div class="row"> <!-- begin global row -->

    <div class="col-xl-3 col-md-12"><!-- begin left  column -->
        <div class="card">
            <div class="card-body">
                <div class="category-title pb-1">
                    <h6 class="text-center font-medium-1 text-bold-800 text-info">
                        <i class="ft-corner-left-down"></i> Requirements
                    </h6>
                </div>

                <div>
                    <ul class="list-group">
                    	{% for requis in requirements %}
                        <li class="list-group-item">
                            <span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span>
                            <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; {{ requis }} </a>
                        </li>
                    	{% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div> <!-- end left  column --> 
    <div class="col-xl-9 col-md-12"> <!-- begin right column -->           
        <div class="card border-info border-lighten-1"> <!-- begin card -->
            <div class="card-header bg-info bg-lighten-1 border-info border-lighten-1">
                <h1 class="font-medium-3 text-bold-700 text-white"><i class="ft-file-plus"></i> Identité complete</h1>
            </div>
            <div class="card-body">
				{% if preview %}
				<div id="document" class="col-12 mb-2" style="overflow:auto;">
					<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
						<strong>REPUBLIQUE DU BURUNDI</strong><br/>
						<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
						<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
						<strong>ET DEVELOPPEMENT LOCAL</strong><br/>
						<strong>MUNICIPALITE DE {{ id_compl.zone.commune.province.name|upper }}</strong><br/>
						<strong>COMMUNE URBAINE DE {{ id_compl.zone.commune.name|upper }}</strong><br/>
						<strong><u>ZONE DE {{ id_compl.zone.name|upper }}</u></strong><br/>
						<p style="text-align: center;"><strong><u>ATTESTATION D&rsquo;IDENTITE COMPLETE N</u></strong><u>&deg;</u><strong><u>&hellip;&hellip;.&hellip;../2020</u></strong></p>
						<p>&nbsp;</p>
						<p>Je soussign&eacute;, {{ id_compl.zone.leaderFullName }}, Chef de Zone {{ id_compl.zone.name }}, atteste par la pr&eacute;sente que l&rsquo;identit&eacute; compl&egrave;te de&nbsp;Monsieur&nbsp; {{ id_compl.user.last_name }} {{ id_compl.user.first_name }}, est le suivant&nbsp;:</p>
						<table>
						<tbody>
						<tr>
						<td>NOM</td>
						<td>: {{ id_compl.user.last_name }}</td>
						</tr>
						<tr>
						<td>PRENOM</td>
						<td>: {{ id_compl.user.first_name }}</td>
						</tr>
						<tr>
						<td>NOM DU PERE</td>
						<td>: {{ id_compl.user.profile.father|default:"sans" }}</td>
						</tr>
						<tr>
						<td>NOM&nbsp; DE&nbsp; LA MERE</td>
						<td>: {{ id_compl.user.profile.mother|default:"sans" }}</td>
						</tr>
						<tr>
						<td>LIEU ET DATE DE NAISSANCE</td>
						<td>: {{ id_compl.zone.name }}, {{ id_compl.user.profile.birthdate }}</td>
						</tr>
						<tr>
						<td>COMMUNE</td>
						<td>: {{ id_compl.zone.commune.name }}</td>
						</tr>
						<tr>
						<td>PROVINCE</td>
						<td>: {{ id_compl.zone.commune.province }}</td>
						</tr>
						<tr>
						<td>NATIONALITE</td>
						<td>: {{ id_compl.user.profile.nationnalite }}</td>
						</tr>
						<tr>
						<td>ETAT-CIVIL</td>
						<td>: {% if id_compl.user.profile.is_married %}
								marrié(e)
							{% else %}
								célibataire
							{% endif %}
						</td>
						</tr>
						<tr>
						<td>PROFESSION</td>
						<td>: {{ id_compl.user.profile.job }}</td>
						</tr>
						<tr>
						<td>RESIDENCE ACTUELLE&nbsp;</td>
						<td>: zone&nbsp;{{ id_compl.residence_quarter.zone.name }}, Q. {{ id_compl.residence_quarter.name }}</td>
						</tr>
						</tbody>
						</table>
						<p>&nbsp;</p>
						<p>&nbsp;</p>
						<p>La pr&eacute;sente attestation lui est d&eacute;livr&eacute;e au vu de sa Carte&nbsp; Nationale d&rsquo;Identit&eacute; &nbsp;portant &nbsp;num&eacute;ro {{ id_compl.user.profile.CNI|default:'-' }}.</p>
						<p>&nbsp;</p>
						<table style="width: 588px;">
						<tbody>
						<tr>
						<td style="width: 315px;">&nbsp;</td>
						<td style="width: 275px;">
						<p style="text-align: center;"><strong>Fait &agrave; Bujumbura, le {{ today }}</strong></p>
						<p style="text-align: center;"><strong>LE CHEF DE ZONE {{ id_compl.zone.name}}</strong></p>
						<p style="text-align: center;"><strong>{{ id_compl.zone.leaderFullName }}</strong></p>
						</td>
						</tr>
						</tbody>
						</table>
						<p style="text-align: right;">&nbsp;</p>
					</div>
				</div>
				{% endif %}
	            <form action="." method="post" enctype="multipart/form-data" class="new-added-form">
					{% csrf_token %}
					<div id="formulaire" {% if preview %} style="display: none;" {% endif %}>
                      {{ form.non_field_errors }}
		                <div class="form-group"> 
		                {% for field in form %}
		                	{{ field.label }}
		                	{{ field }}
		                	{{ fiela.errors }}
		                {% endfor %}
		                </div>
		            </div>
					{% if preview %}
					<button type="submit" class="btn btn-outline-info round font-medium-2" name="cancel" value="cancel">
						<i class="ft-corner-up-left"></i> Retour 
					</button>
					{% else %}
					<button type="submit" class="btn btn-outline-warning" name="preview" value="preview">
						<i class="ft-eye"></i> Preview
					</button>
					{% endif %}
					<button type="submit" class="btn btn-outline-success" name="submit" value="submit">
						<i class="ft-navigation"></i>Envoyer</a>
					</button>
	            </form>
	        </div> <!-- End card body -->
	    </div>	
	</div>
</div>
<script src="{% static 'src/js/core/libraries/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'src/js/chosen.jquery.min.js' %}" type="text/javascript"></script>
<script>
	$('#zones').chosen({ width: '100%' });
	$('#quarters').chosen({ width: '100%' });
</script>
{% endblock %}