{% extends 'pages/riha-base.html' %}
{% load static %}

{% block main-content %}

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/chosen.min.css' %}">
<div class="row"> <!-- begin global row -->

    <div class="col-xl-3 col-md-12"><!-- begin left  column -->
        <div class="card">
            <div class="card-body">
                <div class="category-title pb-1">
                    <h6 class="text-center font-medium-1 text-bold-800 text-info">
                        <i class="ft-corner-left-down"></i> Requirements
                    </h6>
                </div>

                <div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Carte Nationale d'Identite </a>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Agakaye ko Murugo</a>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Attestation des enfants</a>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Photo passport</a>
                        </li>
                    </ul>
                </div>                          
            </div> 
        </div>             
    </div> <!-- end left  column --> 
    <div class="col-xl-9 col-md-12"> <!-- begin right column -->           
        <div class="card border-info border-lighten-1"> <!-- begin card -->
            <div class="card-header bg-info bg-lighten-1 border-info border-lighten-1">
                <h1 class="font-medium-3 text-bold-700 text-white"><i class="ft-file-plus"></i> Identité complete</h1>
            </div>
            <div class="card-body">
				{% if preview %}
				<div id="document" class="col-12 mb-2" style="overflow:auto;">
					<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
                        <strong>REPUBLIQUE DU BURUNDI</strong><br/>
                        <strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
                        <strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
                        <strong>ET DEVELOPPEMENT LOCAL</strong><br/>
                        <strong>MUNICIPALITE DE {{ deces_dom.zone.commune.province|upper }}</strong><br/>
                        <strong>COMMUNE URBAINE DE {{ deces_dom.zone.commune|upper }}</strong><br/>
                        <strong><u>ZONE DE {{ deces_dom.zone.name|upper }}</u></strong><br/><br>
                        <p style="text-align: center;"><strong><u>ATTESTATION  DE DÉCÈS A DOMICILE N</u></strong><u>&deg;</u><strong><u>&hellip;&hellip;.&hellip;../2020</u></strong></p>
                        <p>&nbsp;</p>
                         

                        <p>Je soussign&eacute;, {{ deces_dom.zone.leaderFullName}}, Chef de Zone {{ deces_dom.zone.name }}, atteste par la pr&eacute;sente que la nomm&eacute;e  {{ deces_dom.dead_man.last_name }} {{ deces_dom.dead_man.first_name }}, {% if deces_dom.dead_man.profile.gender == 'Homme' %} fils {% else %}fille {% endif %} de {{ deces_dom.dead_man.profile.father|upper }} et de  {{ deces_dom.dead_man.profile.mother|upper }}, qui était originaire de la Colline {{ deces_dom.zone.name|upper }}, Commune {{ deces_dom.zone.commune|upper }}, Province {{ deces_dom.zone.commune.province|upper }}, ayant résidé de son vivant la Municipalité de {{ deces_dom.residence_quarter_DM.zone.commune.province|upper }} à l’adresse ci-après : {{ deces_dom.residence_quarter_DM.zone|upper }}, Q. {{ deces_dom.residence_quarter_DM|upper }}, est décédée à domicile en date du {{ deces_dom.DM_date }}.</p>


                        <p><strong>Le déclarant :</strong></p> 

                        <p>{{ deces_dom.user.first_name }} {{ deces_dom.user.last_name }}</p>
                            <p>C.N.I: {{ deces_dom.user.profile.CNI }}</p>

                        <p><strong>Les  témoins :</strong></p>

                        <p>{{ deces_dom.first_witness.profile.user.first_name }} {{ deces_dom.first_witness.user.last_name }}</p>
                        <p>C.N.I : {{ deces_dom.first_witness.CNI }} </p>

                        <p>{{ deces_dom.second_witness.user.first_name }} {{ deces_dom.second_witness.user.last_name }}</p>
                        <p>CNI: {{ deces_dom.second_witness.CNI }}</p>


                        <p><strong>Chef de Quartier  {{ deces_dom.residence_quarter_DM.name|upper }}</strong></p> 

                        <p>{{ deces_dom.residence_quarter_DM.leaderFullName }} </p>
                        
                        
                        <p>&nbsp;</p>
                        <p>&nbsp;</p>
                        <table style="width: 588px;">
                        <tbody>
                        <tr>
                        <td style="width: 315px;">&nbsp;</td>
                        <td style="width: 275px;">
                        <p style="text-align: center;"><strong>Fait &agrave; Bujumbura, le {{ today }}</strong></p>
                        <p style="text-align: center;"><strong>LE CHEF DE ZONE {{ deces_dom.zone.name}}</strong></p>
                        <p style="text-align: center;"><strong>{{ deces_dom.zone.leaderFullName }}</strong></p>
                        </td>
                        </tr>
                        </tbody>
                        </table>
                        <p style="text-align: right;">&nbsp;</p>
					</div>
				</div>
				{% endif %}
                
				<form class="form-horizontal" method="POST" action="." novalidate>
                        {% csrf_token %}                     

                        <div class="row" id="formulaire" {% if preview %} style="display: none;" {% endif %} >
                          
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="gender">Zone recherche du document : </label>
                                    {{ form.zone }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nationality">Defunt : </label>
                                    {{ form.dead_man }}<a href="{% url 'register' %}"><i class="ft-plus-circle"></i></a>
                                </div>                                                  
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nationality">Date de décès : </label>
                                    {{ form.DM_date }}
                                </div>                                                  
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nationality">Témoin 1 : </label>
                                    {{ form.first_witness }}<a href="{% url 'register' %}"><i class="ft-plus-circle"></i></a>
                                </div>                                                  
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="nationality">Témoin 2 : </label>
                                    {{ form.second_witness }}<a href="{% url 'register' %}"><i class="ft-plus-circle"></i></a>
                                </div>                                                  
                            </div>
                        </div>

                    <div class="text-right">
                    {% if preview %} 
                    <div class="text-center mt-2">      
                        <button type="cancel" name="cancel" class="btn btn-outline-info round font-medium-2">
                            <i class="ft-corner-up-left"></i>Retour
                        </button>
                                                                                                                  
                        <button type="submit" name="submit" class="btn btn-outline-success">
                            <i class="ft-navigation"></i>Envoyer
                        </button>
                    </div>
                    {% else %}
                        <button type="submit" name="preview" href="recom_preview.html" class="btn btn-outline-warning"> 
                            <i class="ft-eye"></i> Preview
                        </button>

                        <button type="submit" name="submit" class="btn btn-outline-success">
                            <i class="ft-navigation"></i>Envoyer
                        </button>
                         
                    {% endif %}

                      </div>
                    </form>
	        </div> <!-- End card body -->
	    </div>	
	</div>
</div>
<script src="{% static 'src/js/core/libraries/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'src/js/chosen.jquery.min.js' %}" type="text/javascript"></script>
<script>
	$('#zones').chosen({ width: '100%' });
	$('#profiles').chosen({ width: '100%' });
    $('#profiles1').chosen({ width: '100%' });
    $('#profiles2').chosen({ width: '100%' });
</script>
{% endblock %}