{% extends 'pages/riha-base.html' %}


{% block main-content %}


<div class="card border-info border-lighten-1"> <!-- start card --> 

      <div class="card-header bg-info bg-lighten-1 border-lighten-1"><!-- card header --> 
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                    <h1 class="font-medium-3 text-bold-700 text-white">RECOMMENDATION</h1>
            </div>

            <div class="col-xl-6 col-lg-12 text-right">     
                    <a type="button" href="{% url formurl %}" class="btn btn-dark round font-medium-2">
                        <i class="ft-plus-circle"></i> Nouveau document
                    </a>
            </div>
        </div>
      </div><!-- end card header --> 


      <div class="card-body">  <!-- card body -->          
        <table class="table table-xl mb-0 table-responsive">

            <thead>
                <tr>                                                   
                    <th class="border-top-0">Quarter</th>
                    <th class="border-top-0">Payment</th>
                    <th class="border-top-0">Traitement</th>
                    <th class="border-top-0">Date</th>
                    <th class="border-top-0">Progression</th>
                    <th class="border-top-0">Message</th>
                    <th class="border-top-0">Actions</th>
                </tr>
            </thead>


            <tbody>
                {% for document in documents %}
                <tr> 
                    <td class="text-truncate">{{ document.residence_quarter }}</td>

                    <td class="text-truncate">
                        <button class="btn btn-sm btn-outline-success round" type="button"><a href="{% url payform  document.id  %}">{{ document.payment_percent }} %</button>
                    </td>

                    <td class="text-truncate">
                       <button class="btn btn-sm btn-outline-danger round" type="button">{{ document.validation_percent }} %</button>
                    </td>

                    <td class="text-truncate">
                        {{ document.date }} 
                    </td>
                    <td>
                        <td class="text-truncate">
                       <button class="btn btn-sm btn-outline-danger round" type="button">0 %</button>
                    </td>

                    <td>
                        <p class="blue-gray">{% if document.rejection_msg %} {{ document.rejection_msg }} {% else %} - {% endif %}</p>
                        
                    </td>

                    <td>
                        <div>

                            <a href="{% url delete document.id %}">
                                <i class="la la-trash danger lighten-2 font-large-1 ml-1" title="Supprimer"></i>
                            </a>

                            <a href="{% url update document.id %}">
                                <i class="la la-pencil-square info lighten-2 font-large-1 ml-1" title="Modifier"></i>
                            </a>

                            <a href="{% url clone document.id %}">
                                <i class="la la-clone warning lighten-2 font-large-1 ml-1" title="Cloner ce document"></i>
                            </a>                                                            
                        </div>
                    </td>
                </tr>

                {% endfor %}

            </tbody>
        </table>
    </div><!-- end card body -->


  <div class="card-footer bg-transparent border-top-info text-right">
    <a href="{% url formurl %}" class="btn btn-info round font-medium-2"><i class="ft-plus-circle"></i> Nouveau Document</a>
  </div>

</div> <!-- end  card -->

{% endblock %}


