{% extends "index.html" %}
{% load static %}
{% block main %}
{% if preview %}
<div id="document" class="col-12">
	<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
		<strong>REPUBLIQUE DU BURUNDI</strong><br/>
		<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
		<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
		<strong>ET DEVELOPPEMENT LOCAL</strong><br/>
		<strong>MUNICIPALITE DE {{ id_compl.zone.commune.province }}</strong><br/>
		<strong>COMMUNE URBAINE DE {{ id_compl.zone.commune }}</strong><br/>
		<strong><u>ZONE DE {{ id_compl.zone.name }}</u></strong><br/><br>
		<p style="text-align: center;"><strong><u>ATTESTATION DE RECOMMENDATION N</u></strong><u>&deg;</u><strong><u>&hellip;&hellip;.&hellip;../2020</u></strong></p>
		<p>&nbsp;</p>
		<p>Je soussign&eacute;, {{ id_compl.zone.leader}}, Chef de Zone {{ id_compl.zone.name }}, atteste par la pr&eacute;sente que la nomm&eacute;e {{ id_compl.user.last_name }} {{ id_compl.user.first_name }}, fille {{ id_compl.user.profile.father|default:"sans" }} et de  {{ id_compl.user.profile.mother|default:"sans" }}, originaire de la Colline {{ id_compl.zone.name }}, Commune {{ id_compl.zone.commune.name }}, Province {{ id_compl.zone.commune.province }}, r&eacute;sidant actuellement dans la Municipalit&eacute; de Bujumbura &agrave; l’adresse ci-apr&egrave;s : {{ id_compl.residence_quarter.zone.name|upper }} Q. {{ id_compl.residence_quarter.name }}, est recommand&eacute; &agrave; ex&eacute;cuter les travaux mis &agrave; sa disponibilit&eacute;.

				<p style="text-align:center;">La pr&eacute;sente attestation lui est d&eacute;livr&eacute;e pour faire valoir ce que de droit.</p>
		</p>

		
		
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<table style="width: 588px;">
		<tbody>
		<tr>
		<td style="width: 315px;">&nbsp;</td>
		<td style="width: 275px;">
		<p style="text-align: center;"><strong>Fait &agrave; Bujumbura, le {{ today }}</strong></p>
		<p style="text-align: center;"><strong>LE CHEF DE ZONE {{ id_compl.zone.name}}</strong></p>
		<p style="text-align: center;"><strong>{{ id_compl.zone.leader}}</strong></p>
		</td>
		</tr>
		</tbody>
		</table>
		<p style="text-align: right;">&nbsp;</p>
	</div>
</div>
{% endif %}
<div class="m-auto col-12 col-md-6">
	<form action="." method="post" enctype="multipart/form-data" class="new-added-form">
		{% csrf_token %}
		<div id="formulaire" {% if preview %} style="display: none;" {% endif %}>
			{{ form.as_p }}
		</div>
		{% if preview %}
			<input type="submit" class="btn btn-outline-danger" name="cancel" value="cancel">
			<input type="submit" class="btn btn-outline-primary" name="submit" value="submit">
		{% else %}
			<input type="submit" class="btn btn-outline-secondary" name="preview" value="preview">
		{% endif %}

		<datalist id="zones">
			{% for zone in zones %}
				<option value="{{ zone.name }}"/> 
			{% endfor %}
		</datalist>
		<datalist id="quarters">
			{% for quarter in quarters %}
				<option value="{{ quarter }}"/> 
			{% endfor %}
		</datalist>
	</form>
</div>
{% endblock main %}
