{% extends "index.html" %}
{% load static %}
{% block main %}
<a href="{% url formurl %}" class="btn btn-primary float-right mb-2" title="">+ nouveau</a>
<table class="table table-hover" id="commande">
	<thead>
		<tr>
			<th scope="col">quarter</th>
			<th scope="col">payement</th>
			<th scope="col">traitement</th>
			<th scope="col">date</th>
			<th scope="col">ready</th>
			<th scope="col">Action</th>
			<th scope="col">Selection</th>

		</tr>
	</thead>
	<tbody>
		{% for document in documents %}
		<tr class="document-item" data-id="{{ document.id }}">
			<td> {{ document.user_residence_quarter }}</td>
			<td> <a href="{% url payform  document.id  %}">{{ document.payment_percent }} %</a></td>
			<td> {{ document.validation_percent }} % </td>
			<td> {{ document.date }}</td>
			<td>
				{% if document.ready %}
					<i class="fas fa-check text-success"></i>
				{% else %}
					<i class="fas fa-times text-danger"></i>
				{% endif %}
			</td>
			<td>
				<a type="button" class="btn btn-outline-danger btn-sm " href="{% url delete document.id %}">Supprimer</a>
			</td>
			<td>
			<div class="form-check mb-2 mr-sm-2">
		      <input class="form-check-input" type="checkbox">
		    </td>
			</div>
		</tr>
		{% endfor %}
	</tbody>
</table>
<script type="text/javascript">
</script>
{% endblock main %}