{% extends 'pages/riha-base.html' %}
{% load static %}

{% block main-content %}

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/chosen.min.css' %}">
<div class="row"> <!-- begin global row -->

	<div class="col-xl-3 col-md-12"><!-- begin left  column -->
		<div class="card">
			<div class="card-body">
				<div class="category-title pb-1">
					<h6 class="text-center font-medium-1 text-bold-800 text-info">
						<i class="ft-corner-left-down"></i> Requirements
					</h6>
				</div>

				<div>
					<ul class="list-group">
						<li class="list-group-item">
							<span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Carte Nationale d'Identite </a>
						</li>
						<li class="list-group-item">
							<span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Agakaye ko Murugo</a>
						</li>
						<li class="list-group-item">
							<span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Attestation des enfants</a>
						</li>
						<li class="list-group-item">
							<span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Photo passport</a>
						</li>
					</ul>
				</div>                          
			</div> 
		</div>             
	</div> <!-- end left  column --> 
	<div class="col-xl-9 col-md-12"> <!-- begin right column -->           
		<div class="card border-info border-lighten-1"> <!-- begin card -->
			<div class="card-header bg-info bg-lighten-1 border-info border-lighten-1">
				<h1 class="font-medium-3 text-bold-700 text-white"><i class="ft-file-plus"></i>Vente de parcelle</h1>
			</div>
			<div class="card-body">
				{% if preview %}
				<div id="document" class="col-12">
					<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
						<strong>REPUBLIQUE DU BURUNDI</strong><br/>
						<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
						<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
						<strong>ET DEVELOPPEMENT LOCAL</strong><br/>
						<strong>MUNICIPALITE DE {{ vente_parcelle.property_quarter.zone.commune.province|upper }}</strong><br/>
						<strong>COMMUNE URBAINE DE {{ vente_parcelle.property_quarter.zone.commune.name|upper }}</strong><br/>
						<strong><u>ZONE DE {{ vente_parcelle.property_quarter.zone.name|upper }}</u></strong><br/> <br> <br>
						<p style="text-align: center;"><strong><u>ATTESTATION DE VENTE DE PARCELLE N</u></strong><u>&deg;</u><strong><u>&hellip;&hellip;.&hellip;../2020</u></strong></p>
						<p>&nbsp;</p>
						<p style="text-align: justify;">Je soussign&eacute;, {{ vente_parcelle.property_quarter.zone.commune.leaderFullName }}, Administrateur de la Commune Urbaine  de  {{ vente_parcelle.property_quarter.zone.commune.name }}, atteste par la pr&eacute;sente que
							{% if user.profile.gender == 'F' and user.profile.is_married == True %} Mme {% elif user.profile.gender == F %} Mlle {% else %} Mr {% endif %} {{ user.profile.fullName }}
							, {% if user.profile.gender == 'H' %} fils {% elif user.profile.gender == 'F' %} fille {% endif %} de {{ vente_parcelle.user.profile.father|default:"sans" }} et de {{ vente_parcelle.user.profile.mother|default:"sans" }},
							originaire de la Colline {{ user.profile.quarter.name }}, Commune {{ user.profile.quarter.zone.commune.name }}, Province {{ user.profile.quarter.zone.commune.province }}, résidant actuellement dans la Municipalité de 
							{{ user.profile.residence.zone.commune.province }} à l’adresse ci-après : Cellule {{ user.profile.residence.name }},
							a vendu sa parcelle sise au Q {{ vente_parcelle.property_quarter.name }}
							
							à une somme de {{ vente_parcelle.amount }} à {% if vente_parcelle.buyer.gender == 'F' and vente_parcelle.buyer.is_married == True %} Mme {% elif vente_parcelle.buyer.gender == 'F' and vente_parcelle.buyer.is_married == False %} Mlle {% else %} Mr {% endif %}
							{{ vente_parcelle.buyer.fullName }}, {% if vente_parcelle.buyer.gender == 'H' %} fils {% elif vente_parcelle.buyer.gender == 'F' %} fille {% endif %} de {{ vente_parcelle.buyer.father }} et de {{ vente_parcelle.buyer.mother }},
							originaire de la Colline {{ vente_parcelle.buyer.quarter.name }}, Commune  {{ vente_parcelle.buyer.quarter.zone.commune.name }}, Province  {{ vente_parcelle.buyer.quarter.zone.commune.province.name }},
							résidant actuellement dans la Municipalité de {{ vente_parcelle.buyer.residence.zone.commune.province.name }} à l’adresse ci-après : Commune {{ vente_parcelle.buyer.residence.zone.commune.name }}.
								Q. {{ vente_parcelle.buyer.residence.name }}. Cette somme a été versée en présence des témoins ci-après :</p>
		
							<div class="row">
								<div class="col-6">
								<b><u>LE VENDEUR :</u></b> <br>
								{{ user.profile.fullName }} <br>
								CNI : {{ user.profile.CNI }} <br>

								<b><u>LES TEMOINS</u></b> <br>
								1. {{ vente_parcelle.witness11.fullName }} 
								<br> CNI : {{ vente_parcelle.witness11 }} résidant à {{ vente_parcelle.witness11.residence.name }}
								<br>
								2. {{ vente_parcelle.witness12.fullName }}  
								<br>CNI : {{ vente_parcelle.witness12 }} résidant à {{ vente_parcelle.witness12.residence.name }} <br>
								<br><br>
								<b><u>Le sous-couvert de:</u></b> <br>
								Chef de quartier {{ vente_parcelle.property_quarter.name }} <br>
								{{ vente_parcelle.property_quarter.leaderFullName }} <br>
								Chef de zone {{ vente_parcelle.property_quarter.zone.name }} <br>
								{{ vente_parcelle.property_quarter.zone.leaderFullName }} <br>
								</div>
								<div class="col-6">
								<b><u>L’ACHETEUR :</u></b> <br>
								{{ vente_parcelle.buyer.fullName }} <br>
								CNI : {{ vente_parcelle.buyer.CNI }} <br>

								<b><u>LES TEMOINS</u></b> <br> 
								1. {{ vente_parcelle.witness21.fullName }}   
								<br> CNI : {{ vente_parcelle.witness21.CNI }} résidant à {{ vente_parcelle.witness21.residence.name }}
								<br>
								2. {{ vente_parcelle.witness22.fullName }}   
								<br> CNI : {{ vente_parcelle.cnis22.CNI }} résidant à {{ vente_parcelle.witness21.residence.name }} <br>
								<br><br>
								<p style="text-align: center;"><strong>FAIT &agrave; {{ vente_parcelle.property_quarter.zone.commune.province.name|upper }}, le {{ vente_parcelle.date|date:'d/m/Y' }}</strong></p>
								<p style="text-align: center;"><strong>L’ADMINISTRATEUR DE LA COMMUNE URBAINE DE {{ vente_parcelle.property_quarter.zone.commune.name|upper }}</strong></p>
								<p style="text-align: center;"><strong>{{ vente_parcelle.property_quarter.zone.commune.leaderFullName }}</strong></p>
								
				
								</div>
							</div>
					</div>
				</div>
				{% endif %}
				<form action="." method="post" enctype="multipart/form-data" class="new-added-form">
					{% csrf_token %}
					<div id="formulaire" {% if preview %} style="display: none;" {% endif %}>
						{% for fo in form %}
							<label style = "margin-top:2%;margin-bottom:2%;"  for="{{ fo.id_for_label }}">{{ fo.label }}</label>
							{{ fo.non_field_errors }}
							{{ fo.errors }}
							{{ fo }}
						{% endfor %}
						
				</div>
                    <a href="../.." class="btn btn-outline-secondary mt-1 ml-1"> <i class="ft-corner-up-left"></i> Retour</a>
					<button type="submit" class="btn btn-outline-success mt-1" name="submit" value="submit">
						<i class="ft-navigation"></i>Cloner</a>
					</button>
				</form>
			</div> <!-- End card body -->
		</div>	
	</div>
</div>
<script src="{% static 'src/js/core/libraries/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'src/js/chosen.jquery.min.js' %}" type="text/javascript"></script>
<script>
	$('#property_quarter').chosen({ width: '100%' });

	$("#preview").show();
	$("#submit").show();

</script>
{% endblock %}
