{% extends "index.html" %}
{% load static %}
{% block main %}
{% if preview %}
<div id="document" class="col-12">
	<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
		<strong>REPUBLIQUE DU BURUNDI</strong><br/>
		<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
		<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
		<strong>ET DEVELOPPEMENT LOCAL</strong><br/>
		<strong>MUNICIPALITE DE {{ vente_parcelle.zone.commune.province|upper }}</strong><br/>
		<strong>COMMUNE URBAINE DE {{ vente_parcelle.zone.commune.name|upper }}</strong><br/>
		<strong><u>ZONE DE {{ vente_parcelle.zone.name|upper }}</u></strong><br/> <br> <br>
		<p style="text-align: center;"><strong><u>ATTESTATION DE VENTE DE PARCELLE N</u></strong><u>&deg;</u><strong><u>&hellip;&hellip;.&hellip;../2020</u></strong></p>
		<p>&nbsp;</p>
		<p style="text-align: justify;">Je soussign&eacute;, {{ vente_parcelle.zone.commune.leaderFullName }}, Administrateur de la Commune Urbaine  de  {{ vente_parcelle.zone.commune.name }}, atteste par la pr&eacute;sente que
				 {% if profiles.gender == 'F' and profiles.is_married == True %} Mme {% elif profiles.gender == F %} Mlle {% else %} Mr {% endif %} {{ vente_parcelle.user.last_name }}
				 {{ vente_parcelle.user.first_name }}, {% if profiles.gender == 'H' %} fils {% elif profiles.gender == 'F' %} fille {% endif %} de {{ vente_parcelle.user.profile.father|default:"sans" }} et de {{ vente_parcelle.user.profile.mother|default:"sans" }},
				 originaire de la Colline {{ vente_parcelle.residence_quarter.name }}, Commune {{ vente_parcelle.zone.commune.name }}, Province {{ vente_parcelle.zone.commune.province }}, résidant actuellement dans la Municipalité de 
				 {{ vente_parcelle.residence_quarter.zone.commune.province }} à l’adresse ci-après : Cellule {{ vente_parcelle.residence_quarter.name }},
				  a vendu sa parcelle sise au Q {{ vente_parcelle.property_quarter.name }}
				  
				  à une somme de {{ vente_parcelle.amount }} à {% if check_cni.gender == 'F' and check_cni.is_married == True %} Mme {% elif check_cni.gender == 'F' and check_cni.is_married == False %} Mlle {% else %} Mr {% endif %}
				   {{ vente_parcelle.buyer }}, {% if check_cni.gender == 'H' %} fils {% elif check_cni.gender == 'F' %} fille {% endif %} de {{ check_cni.father }} et de {{ check_cni.mother }},
				   originaire de la Colline {{ check_cni.quarter.name }}, Commune  {{ check_cni.quarter.zone.commune.name }}, Province  {{ check_cni.quarter.zone.commune.province.name }},
					résidant actuellement dans la Municipalité de  {{ vente_parcelle.buyer_zone.commune.province.name }} à l’adresse ci-après : Commune {{ vente_parcelle.buyer_zone.commune.name }}.
					 Q. {{ vente_parcelle.buyer_residence_quarter.name }}. Cette somme a été versée en présence des témoins ci-après :</p>

			<div class="row">
			 <div class="col-6">
				<b><u>LE VENDEUR :</u></b> <br>
				{{ vente_parcelle.user.last_name }} {{ vente_parcelle.user.first_name }} <br>
				CNI : {{ profiles.CNI }} <br>
				<b><u>LES TEMOINS</u></b> <br>
				1. {{ vente_parcelle.witness11 }} 
				<br> CNI : {{ vente_parcelle.cnis11 }} résidant à {{ vente_parcelle.saler_witness_residence1 }}
				<br>
				2. {{ vente_parcelle.witness12 }} 
				<br>CNI : {{ vente_parcelle.cnis12 }} résidant à {{ vente_parcelle.saler_witness_residence2 }} <br>
				<br><br>
				<b><u>Le sous-couvert de:</u></b> <br>
				Chef de quartier {{ vente_parcelle.residence_quarter.name }} <br>
				{{ vente_parcelle.residence_quarter.leaderFullName }} <br>
				Chef de zone {{ vente_parcelle.zone.name }} <br>
				{{ vente_parcelle.zone.leaderFullName }} <br>
			 </div>
			 <div class="col-6">
				<b><u>L’ACHETEUR :</u></b> <br>
				{{ vente_parcelle.buyer }} <br>
				CNI : {{ check_cni.CNI }} <br>
				<b><u>LES TEMOINS</u></b> <br> 
				1. {{ vente_parcelle.witness21 }}  
				<br> CNI : {{ vente_parcelle.cnis21 }} résidant à {{ vente_parcelle.buyer_witness_residence1 }}
				<br>
				2. {{ vente_parcelle.witness22 }} 
				<br> CNI : {{ vente_parcelle.cnis22 }} résidant à {{ vente_parcelle.buyer_witness_residence1 }} <br>
				<br><br>
				<p style="text-align: center;"><strong>Fait &agrave; {{ vente_parcelle.zone.commune.province.name }}, le {{ vente_parcelle.date|date:'d/m/Y' }}</strong></p>
				<p style="text-align: center;"><strong>L’ADMINISTRATEUR DE LA COMMUNE URBAINE DE {{ vente_parcelle.zone.commune.name|upper }}</strong></p>
				<p style="text-align: center;"><strong>{{ vente_parcelle.zone.commune.leaderFullName }}</strong></p>
				

				</div>
			</div>
	</div>
</div>
{% endif %}
<div class="m-auto col-12 col-md-6">
	<form action="." method="post" enctype="multipart/form-data" class="new-added-form">
		{% csrf_token %}
		<div id="formulaire" {% if preview %} style="display: none;" {% endif %}>
			{{ form.as_p }}
		</div>
		{% if preview %}
			<input type="submit" class="btn btn-outline-danger" name="cancel" value="Cancel">
			<input type="submit" class="btn btn-outline-primary" name="submit" value="Submit">
		{% else %}
			<input id="preview" type="submit" class="btn btn-outline-secondary" name="preview" value="Preview">
			<input type="submit" class="btn btn-outline-primary" name="submit" value="Submit">
		{% endif %}

		<datalist id="zones">
			{% for zone in zones %}
				<option value="{{ zone.name }}"/> 
			{% endfor %}
		</datalist>
		<datalist id="quarters">
			{% for quarter in quarters %}
				<option value="{{ quarter }}"/> 
			{% endfor %}
		</datalist>
	</form>
</div>
{% endblock main %}


