{% load static %}
<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<head>
    {% include 'partials/head.html' %}
    {% block css-files-unique-for-this-page %} {% endblock%}  
</head>
{% block body-line %}
    <body class="vertical-layout vertical-menu 2-columns fixed-navbar" data-open="click" data-menu="vertical-menu" data-color="bg-chartbg" data-col="2-columns">
{% endblock %}
{% block menu %}    
    {% include 'partials/horizontal-menu.html' %}
    {% include 'partials/vertical-menu.html' %}
{% endblock %}
    <!-- BEGIN: Container-->
    <div class="app-content content">
        <div class="content-wrapper">
            <div class="content-body">
                <section>
                  {%block main-content%} {% endblock%}          
                </section>
            </div>
        </div>
    </div>
    <!-- END: Container-->
    <!-- BEGIN: Footer-->    
        {% include 'partials/footer.html' %}
    <!-- END: Footer-->
    <!-- BEGIN: Scripts-->  
        {% include 'partials/scripts.html' %}
    <!-- END: Scripts-->

        {%block scripts%} {% endblock%} 
<style type="text/css">
    .errorlist li{
        list-style-type: none;
        color: red;
    }
</style>
</body>
</html>