{% extends 'pages/riha-base.html' %}
{% load static %}

{% block css-files-unique-for-this-page %} 
  <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.css' rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="{% static 'assets/css/steps.css' %}">
{% endblock%} 
{% block menu %}
{% endblock %}
{% block body-line %}
<body class="vertical-layout 1-column bg-full-screen-image pace-done menu-hide vertical-overlay-menu" data-open="click" data-menu="vertical-menu" data-color="bg-primary" data-col="1-column">
<div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
  <div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>
{% endblock %}
{% block main-content %}
<section class="container">
  <div class="app-content content">
    <div class="content-wrapper">
      <div class="content-wrapper-before"></div>
      <div class="content-header row">
        <div class="content-header-left col-md-4 col-12 mb-2">
          <h3 class="content-header-title font-medium-3">
            <i class="ft-log-in"></i> ENREGISTREMENT
          </h3>
        </div>
      </div>
      <div class="content-body">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-content">
              <div class="card-body">
                <div class="row"> <!-- steps -->
                  <div class="col-md-12 mx-0">
                    <div id="msform">
                      <!-- progressbar -->
                      <ul id="progressbar">
                        <li id="account" class="active"><strong>Compte</strong></li>
                        <a href="{% url 'profile_form' %}">
                        <li id="personal" class="active"><strong>Informations Personnelles</strong></li>
                        </a>
                        <li id="images" class="active"><strong>CNI</strong></li>
                      </ul> 
                    </div>
                  </div>
                </div><!-- end steps -->
                  <form method="POST" enctype="multipart/form-data" action=".">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="emailAddress3">CNI</label>
                          {{ form.CNI }}
                          {{ form.CNI.errors }}
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="emailAddress3">Date</label>
                          {{ form.date_delivrated }}
                          {{ form.date_delivrated.errors }}
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="emailAddress3">Place</label>
                          {{ form.place_delivrated }}
                          {{ form.place_delivrated.errors }}
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="emailAddress3">Face 1</label>
                          {{ form.cni_recto }}
                          {{ form.cni_recto.errors }}
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="emailAddress3">Face 2</label>
                          {{ form.cni_verso }}
                          {{ form.cni_verso.errors }}
                        </div>
                      </div>
                    </div>


                    <hr/>
                    <div class="text-right">
                      
                    <button class="btn btn-info mt-2"><i class="ft-navigation"></i> Envoyer</button>
                    <a class="btn btn-warning mt-2" href="{% url 'profile_form' %}"><i class="ft-slash">precedent</a>
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}