{% extends 'pages/riha-base.html' %}
{% load static %}
{% block main-content %}
<div class="row">
  <div class="col-xl-4"><!-- Editer Profile -->
    <div class="card p-1 border-top-warning border-top-5 padding-0">
      <div class="card bg-gradient-directional-primary margin-0">
        <div class="card-content">
          <div class="card-body">
            <a href="{% url 'profile_form' %}">
              <div class="media d-flex">
                <div class="media-body text-white text-left align-self-bottom mt-3">
                  <span class="d-block mb-1 font-medium-2"> 
                    <i class="icon-pencil"></i> Editer le profil
                </span>
                <h1 class="text-white mb-0">
                  <button class="btn btn-sm btn-danger round" type="button" data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="Les champs manquants: <b> {% for champ in user.profile.completionMissing %} {{ champ }} {% empty %} aucun {% endfor %}" data-trigger="focus" tabindex="-1">{{ user.profile.completionLevel }}%</button>
                </h1>
                <div class="progress progress-sm mt-1 mb-0 box-shadow-2">
                  <div class="progress-bar bg-gradient-x-danger" role="progressbar" style="width: {{ user.profile.completionLevel }}%" aria-valuenow="{{ user.profile.completionLevel }}" aria-valuemin="0" aria-valuemax="100" title="{{ user.profile.completionLevel }}%"></div>
                </div>
              </div>
              <div class="align-self-top">
                <i class="icon-user text-white font-large-4 float-right"></i>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>
    </div>                 
  </div><!-- End Editer Profile -->
  <div class="col-xl-8"> <!-- Recherche document -->
    <div class="card p-1 border-top-warning border-top-5 padding-0">
      <div class="card-content">
        <div class="card-body">
        <form>
          <input type="text" class="form-control" id="searchfield" placeholder="rechercher le document"/></br>
          <select type="text" class="form-control">
            <option value="select">Select Document</option>
            <option value="Identite">Attestation d'Identite Complete</option>
            <option value="residence">Attestation de Residence</option>
            <option value="naissance">Attestation de naissance</option>
          </select></br>

          <div class="text-right">
            <button type="reset" class="btn btn-outline-warning">
              <i class="ft-slash"></i>Reinitialiser
            </button>
            <button class="btn btn-primary">
              <i class="ft-search"></i> Recherche
            </button>
          </div>
        </form>
        </div>
      </div>
    </div>  
  </div><!-- Recherche document -->
</div> <!-- end row -->


<hr class="bg-danger" />
<div class="row">
    {% for document, color, price, home_url in home_urls %}
    <div class="col-xl-3 col-lg-6 col-12 searchable">
        <div class="card p-1 border-top-{{ color }} border-top-5">
            <div class="card-content">
                <h1 class="font-small-3 text-bold-700 cyan darken-4 text-center"> 
                    <strong><a href="{% url home_url %}">{{ document }}</a></strong>
                </h1>

                <div class="card-body">
                    <div class="float-left">
                        <p class="card-title mb-0"><strong>{{ price }}</strong></p>
                    </div>
                    <div class="float-right" style="margin-top: -20px;">
                        <p class="card-title mb-0">
                            <i class="icon-plus icon-opacity {{ color }} font-large-3 float-right"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{%endblock %}
{% block scripts %}

<script type="text/javascript">
jQuery(document).ready(function($) {
  $("#searchfield").keyup(function(event) {
      keyword = $(this).val().toLowerCase();
      $(".searchable").each(function(index, el) {
        el_text = $(el).text().toLowerCase();
        el_normal = el_text.normalize("NFD").replace(/[\u0300-\u036f]/g, "");
        if(el_normal.includes(keyword)){
            $(el).show();
        }else{
            $(el).hide();
        }
      });
  });
  $('[data-toggle="popover"]').on('click', function(event) {
    event.preventDefault();
  });
  $('[data-toggle="popover"]').popover(); 
});
</script>
{% endblock scripts %}
