{% extends 'pages/riha-base.html' %}
{% block main-content %}
<div class="card border-info border-lighten-1"> <!-- begin card-->
      <div class="card-header bg-info bg-lighten-1 border-info border-lighten-1">
            <h1 class="font-medium-3 text-bold-700 text-white">
                <i class="ft-eye"></i> Preview
            </h1>
      </div>
      <div class="card-body"><!-- begin card body-->
            <section class="flexbox-container">
                <div class="row d-flex align-items-center justify-content-center"> <!-- begin main row-->
                    <div class="col-xl-8 border border-black p-5"><!-- begin column -->

                        <div class="header">
                            <p class="text-bold-600 mb-0">REPUBLIQUE DU BURUNDI</p>
                            <p class="text-bold-600 mb-0">MINISTERE DE L'INTERIEUR</p>
                            <p class="text-bold-600 mb-0">ET DE LA FORMATION PATRIOTIQUE </p>
                            <p class="text-bold-600 mb-0">ET DEVELOPPEMENT LOCAL</p>
                            <p class="text-bold-600 mb-0">MUNICIPALITE DE BUJUMBURA</p>
                            <p class="text-bold-600 mb-0">COMMUNE URBAINE DE MUHA - BUJUMBURA</p>
                            <p class="text-bold-600 mb-0"><u>ZONE DE KININDO</u></p>
                        </div>

                        <p class="text-center m-3">
                            <strong><u>ATTESTATION D'IDENTITE COMPLETE N&deg;........../2020</u></strong>
                        </p>

                       
                        <p>
                            Je soussigné, ............................................., Chef de Zone Kinindo, atteste par la présente que l'identité; complete de Monsieur <strong>Prime IKIZAKUBUNTU</strong>, est le suivant:
                        </p>

                        <table class="table-responsive">

                            <tbody>
                                <tr>
                                    <td>NOM</td>
                                    <td class="text-bold-500 text-uppercase">: Prime</td>
                                </tr>
                                <tr>
                                    <td>PRENOM</td>
                                    <td class="text-bold-500 text-uppercase">: IKIZAKUBUNTU</td>
                                </tr>
                                <tr>
                                    <td>NOM DU PERE</td>
                                    <td class="text-bold-500 text-uppercase">: sans</td>
                                </tr>
                                <tr>
                                    <td>NOM DE LA MERE</td>
                                    <td class="text-bold-500 text-uppercase">: sans</td>
                                </tr>
                                <tr>
                                    <td>LIEU ET DATE DE NAISSANCE</td>
                                    <td class="text-bold-500 text-uppercase">: Kinindo, None</td>
                                </tr>
                                <tr>
                                    <td>COMMUNE</td>
                                    <td class="text-bold-500 text-uppercase">: Muha</td>
                                </tr>
                                <tr>
                                    <td>PROVINCE</td>
                                    <td class="text-bold-500 text-uppercase">: Bujumbura</td>
                                </tr>
                                <tr>
                                    <td>NATIONALITE</td>
                                    <td class="text-bold-500 text-uppercase">: </td>
                                </tr>
                                <tr>
                                    <td>ETAT-CIVIL</td>
                                    <td class="text-bold-500 text-uppercase">: célibataire</td>
                                </tr>
                                <tr>
                                    <td>PROFESSION</td>
                                    <td class="text-bold-500 text-uppercase">: None</td>
                                </tr>
                                <tr>
                                    <td>RESIDENCE ACTUELLE</td>
                                    <td class="text-bold-500 text-uppercase">: zone Kinindo, Q. Kinindo</td>
                                </tr>
                            </tbody>
                        </table>


                    <p class="mt-3 mb-3">
                        La présente attestation lui est délivré au vu de sa Carte  Nationale d'Identité portant le numéro - 
                    </p>
    
       
                    <p class="text-right">
                        <strong>Fait &agrave; Bujumbura, le ........... </strong>
                    </p>
                    <p class="text-right">
                        <strong>L'ADMINISTRATEUR DE LA COMMUNE GIHOSHA</strong>
                    </p>
                    <p class="text-right">
                        <strong>.............................................</strong>
                    </p>

                </div><!-- end column-->
            </div><!-- end main row-->

            <div class="text-center mt-2">
                <button class="btn btn-warning">Annuler</button>
                <button class="btn btn-info">Envoyer</button>
            </div>

        </section><!-- end section-->

    </div><!-- end card body-->
</div><!-- end card-->





  </div>
</div>



{% endblock %}