{% extends 'pages/riha-base.html' %}
{% block administration%}
{% endblock%}
{% block main-content %}
<div class="row">
  <div class="col-xl-4"><!-- Start statistics -->
    <div class="card p-1 border-top-primary border-top-5 padding-0">
      <div class="card bg-gradient-directional-primary margin-0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body mt-3">
                <a href="" class="text-white text-left align-self-bottom">
                  <span class="d-block mb-1 font-medium-2"> 
                  <i class="icon-list"></i> Tous les documents
                </span>
                </a>
                <h1 class="text-white mb-0">
                  <a class="btn btn-sm btn-info round" type="button">2500</a>
                </h1>
              </div>
              <div class="align-self-top">
                <i class="icon-bar-chart text-white font-large-4 float-right"></i>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>                 
  </div><!-- End statistics -->

  <div class="col-xl-4"><!-- Start statistics -->
    <div class="card p-1 border-top-success border-top-5 padding-0">
      <div class="card bg-gradient-directional-success margin-0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body mt-3">

                <a href="" class="text-white text-left align-self-bottom">
                  <span class="d-block mb-1 font-medium-2"> 
                  <i class="ft-check-circle"></i> Deja traité
                </span>
                </a>
                <h1 class="text-white mb-0">
                  <a class="btn btn-sm btn-primary round" type="button"> 2400</a>
                </h1>

              </div>

              <div class="align-self-top">
                <i class="icon-bar-chart text-white font-large-4 float-right"></i>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>                 
  </div><!-- End statistics -->
  <div class="col-xl-4"><!-- Start statistics -->
    <div class="card p-1 border-top-danger border-top-5 padding-0">
      <div class="card bg-gradient-directional-danger margin-0">
        <div class="card-content">
          <div class="card-body">
            <div class="media d-flex">
              <div class="media-body mt-3">

                <a href="" class="text-white text-left align-self-bottom">
                  <span class="d-block mb-1 font-medium-2"> 
                  <i class="ft-x-circle"></i> Non traité
                </span>
                </a>
                <h1 class="text-white mb-0">
                  <a class="btn btn-sm btn-dark round" type="button"> 100</a>
                </h1>
              </div>
              <div class="align-self-top">
                <i class="icon-bar-chart text-white font-large-4 float-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>                 
  </div><!-- End statistics -->  
</div> <!-- end row -->
<hr class="bg.danger" />
<div class="row"><!-- Row documents -->
  {% for basename, index, home_url, counts in home_urls %}
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card p-1 border-top-5 border-top-{{ color }} border-top-5">
      <div class="card-content">
        <h1 class="font-small-3 text-bold-700 cyan darken-4 text-center"> 
          <strong>
            <a href="{% url home_url %}">{{ basename }}</a>
          </strong>
        </h1>             
        <div class="card-body">
          <div class="float-left">
            <p class="card-title mb-0">
              <span class="badge badge-round round 
              {% if index == 0 %}badge-warning{% elif index == 1 %}
              badge-primary{% elif index == 2 %}badge-success
              {% elif index == 3 %}badge-info{% endif %}
              border-top-5"> Non Traité : {{ counts }}
              </span>
            </p>
          </div>
          <div class="float-right" style="margin-top: -20px;">
            <p class="card-title mb-0 primary">
               <i class="icon-list icon-opacity {{ color }} font-large-3 float-right"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div> <!-- End Row Documents -->

<div class="row mt-2"><!-- Row documents -->
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card p-1 border-top-primary border-top-5">
      <div class="card-content">
        <h1 class="font-small-3 text-bold-700 cyan darken-4 text-center"> 
           <strong>ATTESTATION D'IDENTITE COMPLETE</strong>
        </h1>
                          
        <div class="card-body">
          <div class="float-left">
            <p class="card-title mb-0"><strong>BIF 2,000</strong></p>
          </div>
          <div class="float-right" style="margin-top: -20px;">
            <p class="card-title mb-0 primary">
               <i class="icon-list icon-opacity primary font-large-3 float-right"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card p-1 border-top-success border-top-5">
      <div class="card-content">
        <h1 class="font-small-3 text-bold-700 cyan darken-4 text-center">      <strong>ATTESTATION DE RESIDENCE </strong>
        </h1>
        <div class="card-body">
          <div class="float-left">
            <p class="card-title mb-0"><strong>BIF 2,000</strong></p>
          </div>
          <div class="float-right" style="margin-top: -20px;">
            <p class="card-title mb-0 info">
               <i class="icon-list icon-opacity success font-large-3 float-right"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card p-1 border-top-info border-top-5">
      <div class="card-content">
        <h1 class="font-small-3 text-bold-700 cyan darken-4 text-center"> 
          <strong>ATTESTATION DE RECOMMANDATION</strong>
        </h1>                   

        <div class="card-body">
          <div class="float-left">
            <p class="card-title mb-0"><strong>BIF 2,000</strong></p>
          </div>
          <div class="float-right" style="margin-top: -20px;">
            <p class="card-title mb-0 info">
              <i class="icon-list icon-opacity info font-large-3 float-right"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-xl-3 col-lg-6 col-12">
    <div class="card p-1 border-top-danger border-top-5">
      <div class="card-content">

        <h1 class="font-small-3 text-bold-700 cyan darken-4 text-center">  
          <strong> ATTESTATION DE NAISSANCE</strong>
        </h1>
           
        <div class="card-body">
          <div class="float-left">
            <p class="card-title mb-0"><strong>BIF 2,000</strong></p>
          </div>
          <div class="float-right" style="margin-top: -20px;">
            <p class="card-title mb-0 info">
               <i class="icon-list icon-opacity danger font-large-3 float-right"></i>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> <!-- End Row Documents -->


{%endblock %}