{% extends 'pages/riha-base.html' %}
{% load static %}

{% block main-content %}

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/chosen.min.css' %}">
<div class="row"> <!-- begin global row -->

    <div class="col-xl-3 col-md-12"><!-- begin left  column -->
        <div class="card">
            <div class="card-body">
                <div class="category-title pb-1">
                    <h6 class="text-center font-medium-1 text-bold-800 text-info">
                        <i class="ft-corner-left-down"></i> Requirements
                    </h6>
                </div>

                <div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Carte Nationale d'Identite </a>
                        </li>

                        <li class="list-group-item">
                            <span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; presence physique ou autre document prouvant son existance</a>
                        </li>
                    </ul>
                </div>                          
            </div> 
        </div>             
    </div> <!-- end left  column --> 
    <div class="col-xl-9 col-md-12"> <!-- begin right column -->           
        <div class="card border-info border-lighten-1"> <!-- begin card -->
            <div class="card-header bg-info bg-lighten-1 border-info border-lighten-1">
                <h1 class="font-medium-3 text-bold-700 text-white"><i class="ft-file-plus"></i> ATTESTATION D'INDIGENCE</h1>
            </div>
            <div class="card-body">
			{% if preview %}
				<div id="document" class="col-12">
				<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
				<div style="text-transform: uppercase;">
					<strong>REPUBLIQUE DU BURUNDI</strong><br/>
					<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
					<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
					<strong>ET DEVELOPPEMENT LOCAL</strong><br/>
					<strong>MUNICIPALITE DE {{ indigent.zone.commune.province }}</strong><br/>
					<strong>COMMUNE URBAINE DE {{ indigent.zone.commune }}</strong><br/>
					<strong>ZONE DE {{ indigent.zone.name }}</strong><br/>
					<strong><u>BUREAU D’ETAT CIVIL</u></strong><br/><br><br> <br> 
				</div>  
				<p style="text-align: center;"><strong><u>ATTESTATION D’INDIGENCE №</u></strong><u>&deg;</u><strong><u>&hellip;&hellip;.&hellip;../2020</u></strong></p>
				<p>
					Je soussigné, {{ indigent.zone.commune.leaderFullName }}, Administrateur de la Commune {{indigent.zone.commune}}, atteste par la présente que
					 {% if indigent.profile.gender == Homme %}
						le nomme
					{% else %}
						la nommee  
					{% endif %}
					 {{ indigent.user.first_name }} {{ indigent.user.last_name }}, 
					{% if indigent.user.gender == Homme %}
					fils
					{% else %}
					fille
					{% endif %} de  {{indigent.user.profile.father}}  et de {{indigent.user.profile.mother}}, originaire de la Colline {{indigent.user.profile.quarter}}, Commune {{indigent.user.profile.quarter.zone.commune}}, Province {{indigent.user.profile.quarter.zone.commune.province}}, résidant actuellement dans la Municipalité de {{indigent.zone.commune.province}} à l’adresse ci-après : {{indigent.zone.name}}, Q. {{indigent.residence_quarter}}, est 
					{% if indigent.user.gender == Homme %}
						INDIGENT
					{% else %}
						INDIGENTE
					{% endif %}.<br>.
		                                           

				</p>

				<p>La pr&eacute;sente attestation lui est d&eacute;livr&eacute;e pour faire valoir ce que de droit.</p>
				<p>	<br><br>
					<strong><u>Sous couvert : </u></strong>
					<ul>
						{{indigent.sous_couvert}}
					</ul><br>

					<strong><u>Chef de Quartier {{indigent.residence_quarter}}</u></strong><br>
					<ul>
						{{indigent.residence_quarter.leaderFullName}}
					</ul><br>
							
					<strong><u>Approuvée par le Chef de Zone {{indigent.zone.name}}</u></strong><br>
					<ul>
						{{indigent.zone.leaderFullName}}
					</ul>

				</p>
				<p>&nbsp;</p>
						<p>&nbsp;</p>
				<table style="width: 600px; text-transform: uppercase;">
				<tbody>
				<tr>
				<td style="width: 315px;">&nbsp;</td>
				<td style="width: 275px;">
				<p style="text-align: center;"><strong>Fait &agrave; Bujumbura, le {{ today.today }}</strong></p>
				<p style="text-align: center;"><strong> L’ADMINISTRATEUR DE LA COMMUNE {{ indigent.zone.commune.name}}</strong></p>
				<p style="text-align: center;"><strong>{{ indigent.zone.commune.leaderFullName }}</strong></p>
				</td>
				</tr>
				</tbody>
				</table>
				<p style="text-align: right;">&nbsp;</p>
				</div>
				</div>		
				{% endif %}
				<form action="." method="post" enctype="multipart/form-data" class="new-added-form">
					{% csrf_token %}
					<div id="formulaire" {% if preview %} style="display: none;" {% endif %}>
		                <div class="form-group"> 
		                	{{ form.as_p}}
		                </div>                  
		               
		            </div>

					{% if preview %}
					<button type="submit" class="btn btn-outline-info round font-medium-2" name="cancel" value="cancel">
						<i class="ft-corner-up-left"></i> Retour 
					</button>
					{% else %}
					<button type="submit" class="btn btn-outline-warning" name="preview" value="preview">
						<i class="ft-eye"></i> Preview
					</button>
					{% endif %}
					<button type="submit" class="btn btn-outline-success" name="submit" value="submit">
						<i class="ft-navigation"></i>Envoyer</a>
					</button>
		        </form>
		    </div> <!-- End card body -->
</div>	
</div>
</div>
<script src="{% static 'src/js/core/libraries/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'src/js/chosen.jquery.min.js' %}" type="text/javascript"></script>
<script>
	$('#zones').chosen({ width: '100%' });
	$('#quarters').chosen({ width: '100%' });
</script>
{% endblock %}