{% extends "index.html" %}
{% load static %}
{% block main %}
{% if preview %}
<div id="document" class="col-12">
	<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
		<strong>REPUBLIQUE DU BURUNDI</strong><br/>
		<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
		<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
		<strong>ET DEVELOPPEMENT LOCAL</strong><br/>
		<strong>MUNICIPALITE DE {{ cession.zone.commune.province|upper }}</strong><br/>
		<strong>COMMUNE URBAINE DE {{ cession.zone.commune.name|upper }}</strong><br/>
		<strong><u>ZONE DE {{ cession.zone.name|upper }}</u></strong><br/> <br> <br>
		<p style="text-align: center;"><strong><u>ATTESTATION DE CESSION DE PARCELLE N</u></strong><u>&deg;</u><strong><u>&hellip;&hellip;.&hellip;../2020</u></strong></p>
		<p>&nbsp;</p>
		<p style="text-align: justify;">&emsp;&emsp;&emsp;Je soussign&eacute;, {{ cession.zone.leaderFullName }}, Chef de Zone {{ cession.zone.name }}, atteste par la pr&eacute;sente que {% if profiles.gender == 'H' %}
		Monsieur {% else %} Madame {% endif %} {{ cession.user.first_name }} {{ cession.user.last_name }},
		{% if profiles.gender == 'H' %} fils {% else %} fille {% endif %} de {{ cession.user.profile.father|default:"sans" }} et de {{ cession.user.profile.mother|default:"sans" }},
		originaire de la Colline {{ profiles.quarter.name }}, Commune {{ cession.zone.commune.name }},
		Province {{ cession.zone.commune.province.name }}, résidant actuellement dans la Municipalité de {{ cession.residence_quarter.zone.commune.province.name }} à l’adresse ci-après :
		Cellule {{ cession.residence_quarter.name }} a cédé sa parcelle sise à cellule {{ cession.property_quarter.name }} à  {{ cession.beneficiary }} , {% if check_cni.gender == 'F' %} fille {% else %} fils {% endif %} de
		{{ cession.user.first_name }} {{ cession.user.last_name }} et de {{ cession.mrs }}, originaire de la Colline {{ cession.beneficiary_residence_zone.name }},
		Commune {{ cession.beneficiary_residence_zone.commune.name }} , Province {{ cession.beneficiary_residence_zone.commune.province.name }} ,
		résidant actuellement dans la Municipalité de {{ cession.beneficiary_residence_zone.commune.province.name }} à l’adresse ci-après : {{ cession.beneficiary_residence_zone.name }}, Q. {{ cession.beneficiary_residence_quarter.name }}


		<p>&emsp;&emsp;&emsp;Cette cession a eu lieu en présence des témoins ci-après :</p>

		<div class="row">
			<div class="col-6">
				<b><u>LE CESSIONNAIRE</u></b> <br>
				{{ cession.user.first_name }} {{ cession.user.last_name }} <br>
				{{ profiles.CNI }} <br> <br>
				<b><u>LES TEMOINS</u></b> <br>
				1. {{ cession.witness11 }} <br>
				CNI : {{ cession.cnis11 }} <br>
				2. {{ cession.witness12 }} <br>
				CNI : {{ cession.cnis12 }} <br> <br>
				<b>LE CHEF DE QUARTIER {{ cession.residence_quarter.name|upper }}</b>
				{{ cession.quarter.leaderFullName }}
			</div>
			<div class="col-6">
				<b><u>LE BENEFICIAIRE</u></b> <br>
				{{ cession.beneficiary }} <br>
				{{ check_cni.CNI }} <br> <br>
				<b><u>LES TEMOINS</u></b> <br>
				1. {{ cession.witness21 }} <br>
				CNI : {{ cession.cnis21 }} <br>
				2. {{ cession.witness22 }} <br>
				CNI : {{ cession.cnis22 }} <br> <br>
				<p style="text-align: center;"><strong>Fait &agrave; {{ cession.zone.commune.province }}, le {{ cession.date|date:'d/m/Y' }}</strong></p>
				<p style="text-align: center;"><strong>LE CHEF DE ZONE {{ cession.zone.name|upper }}</strong></p>
				<p style="text-align: center;"><strong>{{ cession.zone.leaderFullName }}</strong></p>
			</div>
		</div>


	</div>
</div>
{% endif %}
<div class="m-auto col-12 col-md-6">
	<form action="." method="post" enctype="multipart/form-data" class="new-added-form">
		{% csrf_token %}
		<div id="formulaire" {% if preview %} style="display: none;" {% endif %}>
			{{ form.as_p }}
		</div>
		{% if preview %}
			<input type="submit" class="btn btn-outline-danger" name="cancel" value="Cancel">
			<input type="submit" class="btn btn-outline-primary" name="submit" value="Submit">
		{% else %}
			<input type="submit" class="btn btn-outline-secondary" name="preview" value="Preview">
			<input type="submit" class="btn btn-outline-primary" name="submit" value="Submit">
		{% endif %}

		<datalist id="zones">
			{% for zone in zones %}
				<option value="{{ zone.name }}"/> 
			{% endfor %}
		</datalist>
		<datalist id="quarters">
			{% for quarter in quarters %}
				<option value="{{ quarter }}"/> 
			{% endfor %}
		</datalist>
	</form>
</div>



{% endblock main %}