{% extends "index.html" %}
{% load static %}
{% block main %}
<div id="document" class="col-12">
	<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
		<strong>REPUBLIQUE DU BURUNDI</strong><br/>
		<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
		<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
		<strong>ET DEVELOPPEMENT LOCAL</strong><br/>
		<strong>MUNICIPALITE DE {{ cession.zone.commune.province }}</strong><br/>
		<strong>COMMUNE URBAINE DE {{ cession.zone.commune }}</strong><br/>
		<strong><u>ZONE DE {{ cession.zone.name }}</u></strong><br/>
		<p style="text-align: center;"><strong><u>ATTESTATION D&rsquo;IDENTITE COMPLETE N</u></strong><u>&deg;</u><strong><u>&hellip;&hellip;.&hellip;../2020</u></strong></p>
		<p>&nbsp;</p>
		<p style="text-align: justify;">&emsp;&emsp;&emsp;Je soussign&eacute;, {{ cession.zone.leaderFullName }}, Chef de Zone {{ cession.zone.name }}, atteste par la pr&eacute;sente que {% if profiles.gender == 'H' %}
		Monsieur {% else %} Madame {% endif %} {{ cession.user.first_name }} {{ cession.user.last_name }},
		{% if profiles.gender == 'H' %} fils {% else %} fille {% endif %} de {{ cession.user.profile.father|default:"sans" }} et de {{ cession.user.profile.mother|default:"sans" }},
		originaire de la Colline {{ profiles.quarter.name }}, Commune {{ cession.zone.commune.name }},
		Province {{ cession.zone.commune.province.name }}, résidant actuellement dans la Municipalité de {{ cession.residence_quarter.zone.commune.province.name }} à l’adresse ci-après :
		Cellule {{ cession.residence_quarter.name }} a cédé sa parcelle sise à cellule {{ cession.property_quarter.name }} à  {{ cession.beneficiary }} , fils de
		{{ cession.user.first_name }} {{ cession.user.last_name }} et de {{ cession.mrs }}, originaire de la Colline {{ cession.beneficiary_residence_zone.name }},
		Commune {{ cession.beneficiary_residence_zone.commune.name }} , Province {{ cession.beneficiary_residence_zone.commune.province.name }} ,
		résidant actuellement dans la Municipalité de {{ cession.beneficiary_residence_zone.commune.province.name }} à l’adresse ci-après : {{ cession.beneficiary_residence_zone.name }}, Q. {{ cession.beneficiary_residence_quarter.name }}


		<p>&emsp;&emsp;&emsp;Cette cession a eu lieu en présence des témoins ci-après :</p>

		<div class="row">
			<div class="col-6">
				<b><u>LE CESSIONNAIRE</u></b> <br>
				{{ cession.user.first_name }} {{ cession.user.last_name }} <br> <br>
				<b><u>LES TEMOINS</u></b> <br>
				1. {{ cession.witness11 }} <br>
				CNI : {{ cession.cnis11 }} <br>
				2. {{ cession.witness12 }} <br>
				CNI : {{ cession.cnis12 }} <br>
				<b>LE CHEF DE QUARTIER {{ cession.residence_quarter.name|upper }}</b>
				{{ cession.quarter.leaderFullName }}
			</div>
			<div class="col-6">
				<b><u>LE BENEFICIAIRE</u></b> <br>
				{{ cession.beneficiary }} <br> <br>
				<b><u>LES TEMOINS</u></b> <br>
				1. {{ cession.witness21 }} <br>
				CNI : {{ cession.cnis21 }} <br>
				2. {{ cession.witness22 }} <br>
				CNI : {{ cession.cnis22 }} <br>
				<p style="text-align: center;"><strong>Fait &agrave; {{ cession.zone.commune.province }}, le {{ cession.date|date:'d/m/Y' }}</strong></p>
				<p style="text-align: center;"><strong>LE CHEF DE ZONE {{ cession.zone.name|upper }}</strong></p>
				<p style="text-align: center;"><strong>{{ cession.zone.leaderFullName }}</strong></p>
			</div>
		</div>
	</div>
</div>
<div style="position: fixed; right: 0px; top:40%">
  <div style="position: relative; top: -50%;" class="btn-group-vertical btn-group-lg float-right align-middle" role="group">
	<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="<img src='{{ cession.user.profile.cni_recto.url }}' height='300' />">
	  CNI Recto
	</button>
	<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="<img src='{{ cession.user.profile.cni_verso.url }}' height='300' />">
	  CNI verso
	</button>
	<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="<b>{{ cession.payment_method }} : <i>{{ cession.payment_serial }}</i></b>">
	  Payements
	</button>
	<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
	  Other
	</button>
  </div>
</div>
<div class="m-2">
	<form action="./{{ document_id }}" method="post" enctype="multipart/form-data" class="new-added-form">
		{% csrf_token %}
		<input type="text" name="rejection_msg" value="" placeholder="rejection reason" class="form-control mb-2 rejection-msg" style="display:none;">
		<input type="submit" class="btn btn-outline-secondary" name="cancel" value="cancel">
		<input type="submit" class="btn btn-outline-success" name="validate" value="validate">
		<input type="submit" class="btn btn-outline-danger" id="rejection-button" name="reject" value="reject">
		<input type="submit" class="btn btn-outline-primary" id="print-button" name="print" value="print">
	</form>
</div>
<script type="text/javascript">
$(document).ready(function () {

$(function () {
  $('[data-toggle="popover"]').popover()
})
$("#rejection-button").on('click', function(event) {
	$rejection_msg = $(".rejection-msg");
	if($rejection_msg.css('display')=="none"){
		$rejection_msg.css('display',"");
		event.preventDefault();
	}else{
		if($rejection_msg.val().trim().length>0){

		}else{
			$rejection_msg.css('display',"none");
			event.preventDefault();
		}
	}
});
$("#print-button").on('click', function(event) {
	event.preventDefault();
	printDiv();
});

function printDiv() { 
	var divContents = document.getElementById("template").innerHTML; 
	var a = window.open('', '', 'height=500, width=1000'); 
	a.document.write('<html>'); 
	a.document.write('<body>'); 
	a.document.write(divContents); 
	a.document.write('</body></html>'); 
	a.document.close(); 
	a.print(); 
	a.close();
}

});
</script>
{% endblock main %}