{% extends 'pages/riha-base.html' %}
{% load static %}

{% block main-content %}

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/chosen.min.css' %}">
<div class="row"> <!-- begin global row -->

	<div class="col-xl-3 col-md-12"><!-- begin left  column -->
		<div class="card">
			<div class="card-body">
				<div class="category-title pb-1">
					<h6 class="text-center font-medium-1 text-bold-800 text-info">
						<i class="ft-corner-left-down"></i> Requirements
					</h6>
				</div>

				<div>
					<ul class="list-group">
						<li class="list-group-item">
							<span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Carte Nationale d'Identite </a>
						</li>
						<li class="list-group-item">
							<span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Agakaye ko Murugo</a>
						</li>
						<li class="list-group-item">
							<span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Attestation des enfants</a>
						</li>
						<li class="list-group-item">
							<span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Photo passport</a>
						</li>
					</ul>
				</div>                          
			</div> 
		</div>             
	</div> <!-- end left  column --> 
	<div class="col-xl-9 col-md-12"> <!-- begin right column -->           
		<div class="card border-info border-lighten-1"> <!-- begin card -->
			<div class="card-header bg-info bg-lighten-1 border-info border-lighten-1">
				<h1 class="font-medium-3 text-bold-700 text-white"><i class="ft-file-plus"></i>Cession de parcelle</h1>
			</div>
			<div class="card-body">
				{% if preview %}
				<div id="document" class="col-12">
					<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
						<strong>REPUBLIQUE DU BURUNDI</strong><br/>
						<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
						<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
						<strong>ET DEVELOPPEMENT LOCAL</strong><br/>
						<strong>MUNICIPALITE DE {{ cession.property_quarter.zone.commune.province|upper }}</strong><br/>
						<strong>COMMUNE URBAINE DE {{ cession.property_quarter.zone.commune.name|upper }}</strong><br/>
						<strong><u>ZONE DE {{ cession.property_quarter.zone.name|upper }}</u></strong><br/> <br> <br>
						<p style="text-align: center;"><strong><u>ATTESTATION DE CESSION DE PARCELLE N</u></strong><u>&deg;</u><strong><u>&hellip;&hellip;.&hellip;../2020</u></strong></p>
						<p>&nbsp;</p>
						<p style="text-align: justify;">&emsp;&emsp;&emsp;Je soussign&eacute;, {{ cession.property_quarter.zone.leaderFullName }}, Chef de Zone {{ cession.property_quarter.zone.name }},
						 atteste par la pr&eacute;sente que {% if user.profile.gender == 'H' %}
						Monsieur {% else %} Madame {% endif %} {{ user.profile.fullName }},
						{% if user.profile.gender == 'H' %} fils {% else %} fille {% endif %} de {{ user.profile.father|default:"sans" }} 
						et de {{ user.profile.mother|default:"sans" }},
						originaire de la Colline {{ user.profile.quarter.name }}, Commune {{ user.profile.quarter.zone.commune.name }},
						Province {{ user.profile.quarter.zone.commune.province.name }}, 
						résidant actuellement dans la Municipalité de {{ user.profile.residence.zone.commune.province.name }} à l’adresse ci-après :
						Cellule {{ user.profile.residence.name }} a cédé sa parcelle sise à cellule {{ cession.property_quarter.name }} à  {{ cession.beneficiary.fullName }} ,
						 {% if user.profile.gender == 'F' %} fille {% else %} fils {% endif %} de
						{{ cession.user.fullName }} et de {{ cession.mrs.fullName }}, originaire de la Colline {{ cession.beneficiary.quarter.zone.name }},
						Commune {{ cession.beneficiary.quarter.zone.commune.name }} , Province {{ cession.beneficiary.quarter.zone.commune.province.name }} ,
						résidant actuellement dans la Municipalité de {{ cession.beneficiary.residence.zone.commune.province.name }} à l’adresse ci-après :
						{{ cession.beneficiary.residence.zone.name }}, Q. {{ cession.beneficiary.residence.name }}


						<p>&emsp;&emsp;&emsp;Cette cession a eu lieu en présence des témoins ci-après :</p>

						<div class="row">
							<div class="col-6">
								<b><u>LE CESSIONNAIRE</u></b> <br>
								{{ user.profile.fullName }} <br>
								{{ user.profile.CNI }} <br> <br>

								<b><u>LES TEMOINS</u></b> <br>
								1. {{ cession.witness11.fullName }}<br>
								CNI : {{ cession.witness11.CNI }} <br>
								2. {{ cession.witness12.fullName }} <br>
								CNI : {{ cession.witness12.CNI }} <br> <br>
								<b>LE CHEF DE QUARTIER {{ cession.property_quarter.name|upper }}</b>
								{{ cession.property_quarter.leaderFullName }}
							</div>
							<div class="col-6">
								<b><u>LE BENEFICIAIRE</u></b> <br>
								{{ cession.beneficiary.fullName }} <br>
								{{ cession.beneficiary.CNI }} <br> <br>

								<b><u>LES TEMOINS</u></b> <br>
								1. {{ cession.witness21.fullName }} <br>
								CNI : {{ cession.witness21.CNI }} <br>
								2. {{ cession.witness22.fullName }} <br>
								CNI : {{ cession.witness22.CNI }} <br> <br>
								<p style="text-align: center;"><strong>FAIT &agrave; {{ cession.property_quarter.zone.commune.province|upper }}, le {{ cession.date|date:'d/m/Y' }}</strong></p>
								<p style="text-align: center;"><strong>LE CHEF DE ZONE {{ cession.property_quarter.zone.name|upper }}</strong></p>
								<p style="text-align: center;"><strong>{{ cession.property_quarter.zone.leaderFullName }}</strong></p>
							</div>
						</div>


					</div>
				</div>
				{% endif %}
				<form method="post" enctype="multipart/form-data" class="new-added-form">
					{% csrf_token %}
					<div id="formulaire" {% if preview %} style="display: none;" {% endif %}>
						{% for fo in form %}

							<label style="margin-top:2%; margin-bottom:2%;" for="{{ fo.id_for_label }}">{{ fo.label }}</label>
							{{ fo.non_field_errors }}
							{{ fo.errors }}
							{{ fo }}

						{% endfor %}
					<br>
				</div>
					<button input type="submit" class="btn btn-outline-danger mt-1 ml-1" name="cancel" value="cancel">
						<i class="ft-corner-up-left"></i> Retour 
					</button>
					<button type="submit" class="btn btn-outline-success mt-1" name="submit" value="submit">
						<i class="ft-navigation"></i>Modifier</a>
					</button>
				</form>
			</div> <!-- End card body -->
		</div>	
	</div>
</div>
<script src="{% static 'src/js/core/libraries/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'src/js/chosen.jquery.min.js' %}" type="text/javascript"></script>
<script>
	$('#search_place').chosen({ width: '100%' });
	$('#property_quarter').chosen({ width: '100%' });

	$("#preview").hide();
	$("#submit").hide();

</script>
{% endblock %}