{% extends 'pages/riha-base.html' %}
{% load static %}
{% block main-content %}
<div class="card border-info border-lighten-1"> <!-- start card --> 
      <div class="card-header bg-info bg-lighten-1 border-lighten-1"><!-- card header --> 
        <div class="row">
            <div class="col-xl-6 col-lg-12">
                    <h1 class="font-medium-3 text-bold-700 text-white">PRISE EN CHARGE</h1>
            </div>
        </div>
      </div><!-- end card header --> 
      <div class="card-body">  <!-- card body -->          
        <table class="table table-xl mb-0 table-responsive">

            <thead>
                <tr>     
                    <th class="border-top-0">Document</th>
                    <th class="border-top-0">Payment</th>
                    <th class="border-top-0">CNI</th>
                    <th class="border-top-0">CNI Recto</th>
                    <th class="border-top-0">CNI Verso</th>
                    <th class="border-top-0">Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for document in documents %}
                <tr class="document-item" data-id="{{ document.id }}">
                    <td class="text-truncate">
                        <a href="./{{ document.id }}">
                            {{ document.user }}
                        </a>
                    </td>
                    <td class="text-truncate"  data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="<b>{{ document.zone_payment.place }} : <i>{{ document.zone_payment.id_transaction }}</i></b>">
                        {{ document.zone_payment.type_payement }}
                    </td>
                    <td class="text-truncate">
                        {{ document.user.profile.CNI }}
                    </td>
                    <td data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="<img src='{{ document.user.profile.cni_recto.url }}' height='300' />">
                        photo 1
                    </td>
                    <td data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="<img src='{{ document.user.profile.cni_verso.url }}' height='300' />">
                        photo 2
                    </td>
                    <td>
                        <div>
                            <a href="#">
                                <i class="la la-trash danger lighten-2 font-large-1 ml-1" title="Supprimer"></i>
                            </a>

                            <a href="#">
                                <i class="la la-pencil-square info lighten-2 font-large-1 ml-1" title="Modifier"></i>
                            </a>

                            <a href="#">
                                <i class="la la-clone warning lighten-2 font-large-1 ml-1" title="Cloner ce document"></i>
                            </a>                                                            
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div><!-- end card body -->

</div> <!-- end  card -->

<script src="{% static 'src/js/core/libraries/jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function () {

$(function () {
  $('[data-toggle="popover"]').popover()
});
});
</script>
{% endblock %}