{% extends 'pages/riha-base.html' %}
{% load static %}

{% block main-content %}

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/chosen.min.css' %}">
<div class="row"> <!-- begin global row -->

    <div class="col-xl-3 col-md-12"><!-- begin left  column -->
        <div class="card">
            <div class="card-body">
                <div class="category-title pb-1">
                    <h6 class="text-center font-medium-1 text-bold-800 text-info">
                        <i class="ft-corner-left-down"></i> Requirements
                    </h6>
                </div>

                <div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Carte Nationale d'Identite </a>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Agakaye ko Murugo</a>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Attestation des enfants</a>
                        </li>
                        <li class="list-group-item">
                            <span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Photo passport</a>
                        </li>
                    </ul>
                </div>                          
            </div> 
        </div>             
    </div> <!-- end left  column --> 
    <div class="col-xl-9 col-md-12"> <!-- begin right column -->           
        <div class="card border-info border-lighten-1"> <!-- begin card -->
            <div class="card-header bg-info bg-lighten-1 border-info border-lighten-1">
                <h1 class="font-medium-3 text-bold-700 text-white"><i class="ft-file-plus"></i> Identité complete</h1>
            </div>
            <div class="card-body">
				{% if preview %}
				<div id="document" class="col-12 mb-2" style="overflow:auto;">
					<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
		<strong>REPUBLIQUE DU BURUNDI</strong><br/>
		<strong>PROVINCE DE {{ notoriete.zone.commune.province }}</strong><br/>
		<strong>COMMUNE URBAINE DE {{ notoriete.zone.commune }}</strong><br/>
		<strong><u>BUREAU D’ETAT-CIVIL</u></strong><br/>
		<p style="text-align: center;"><strong><u>ACTE DE NOTORIETE</u></strong></p>
		<p>
			{{ notoriete.dateString }} devant nous,  {{ notoriete.zone.commune.province.leaderFullName }}, Maire de la Ville de {{notoriete.zone.commune.province}}, ont comparu :<br> <br>

				1. {{ notoriete.comparant_1}}, {% if notoriete.comparant_1.gender == "H" %} fils{% else %}fille{% endif %} de {{notoriete.comparant_1.father}}  et de  {{notoriete.comparant_1.mother}}, née à {{ notoriete.comparant_1.quarter }},  en {{notoriete.comparant_1.birthdate }}, résidant à {{notoriete.comparant_1.residence.commune.province}} de nationnalité {{notoriete.comparant_1.nationnalite}}, premier comparant. 	<br> <br>

				{% if notoriete.comparant_2 %}
					2. {{ notoriete.comparant_2}}, {% if notoriete.comparant_2.gender == "H" %} fils{% else %}fille{% endif %} de {{notoriete.comparant_2.father}}  et de  {{notoriete.comparant_2.mother}}, née à {{ notoriete.comparant_2.quarter }},  en {{notoriete.comparant_2.birthdate }}, résidant à {{notoriete.comparant_2.residence.commune.province}} de nationnalité {{notoriete.comparant_2.nationnalite}}, premier comparant. 	<br> <br>
				{% endif %}

				{% if notoriete.comparant_3 %}
					3. {{ notoriete.comparant_3}}, {% if notoriete.comparant_3.gender == "H" %} fils{% else %}fille{% endif %} de {{notoriete.comparant_3.father}}  et de  {{notoriete.comparant_3.mother}}, née à {{ notoriete.comparant_3.quarter }},  en {{notoriete.comparant_3.birthdate }}, résidant à {{notoriete.comparant_3.residence.commune.province}} de nationnalité {{notoriete.comparant_3.nationnalite}}, premier comparant. 	<br> <br>
				{% endif %}
				
				
			Lesquels nous ont déclaré qu’en {{notoriete.user.profile.birthdate}}, est né à {{notoriete.user.profile.quarter}}, le nommé {{ notoriete.user.profile.fullName }}, {{notoriete.user.profile.job }}, {% if notoriete.comparant_1.gender == H %} fils{% else %}fille{% endif %} de {{notoriete.user.profile.father}} et de {{notoriete.user.profile.mother}}, résidant à {{notoriete.zone.commune.province}} de nationalité {{notoriete.user.profile.nationnalite}} et que l’intéressé se trouve dans l’impossibilité de produire son acte de naissance qu’il est {% if notoriete.user.profile.is_married %} marrié(e) {% else %} célibataire {% endif %}. <br> <br>

			En conséquence, le présent acte de notoriété remplace valablement son acte de naissance. <br>

			Nous attestons en outre que les déclarations faites ci-dessus concordent avec les énonciations de sa Carte d’Identité délivrée par l’Administrateur Communal, portant le №  {{notoriete.user.profile.CNI}} obtenue en date du {{notoriete.user.profile.date_delivrated}}.<br><br>

			En foi de quoi, nous avons délivré le présent acte et après que connaissance de son contenu en a été faite aux comparants, l’avons signé avec eux. <br><br>

			<strong><u>LES COMPARANTS :</u></strong><br>

			1. {{ notoriete.comparant_1.fullName }}<br>
			{% if notoriete.comparant_2 %}
				2. {{ notoriete.comparant_2.fullName }}<br>
			{% endif %}
			{% if notoriete.comparant_3 %}
				3. {{ notoriete.comparant_3.fullName }}<br>
			{% endif %}
		</p>

		<table style="width: 588px;">
		<tbody>
		<tr>
		<td style="width: 315px;">&nbsp;</td>
		<td style="width: 275px;">
		<p style="text-align: center;"><strong> LE MAIRE DE LA VILLE DE BUJUMBURA</strong></p>
		<p style="text-align: center;"><strong>{{ notoriete.user.profile.fullName }}</strong></p>
		</td>
		</tr>
		</tbody>
		</table>
		<p style="text-align: right;">&nbsp;</p>
	</div>
				</div>
				{% endif %}
	            <form action="." method="post" enctype="multipart/form-data" class="new-added-form">
					{% csrf_token %}
					<div id="formulaire" {% if preview %} style="display: none;" {% endif %}>
	                {{ field.non_field_errors }}
                    {% for field in form %}
		            	<div class="form-group">  
                        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
	                        {{ field }}
	                        {{ field.errors }}
							{% if 'check_cni' in field.field.widget.attrs.class %}
								<button class="btn-sm btn-primary mt-1" onclick="verifierCni(event, '{{ field.id_for_label }}')">verifier</button>
	                        	<label class="mt-1" id="label_{{ field.id_for_label }}"></label>
							{% endif %}
			            </div>
	                {% endfor %}
		            </div>
					{% if preview %}
					<button type="submit" class="btn btn-outline-info round font-medium-2" name="cancel" value="cancel">
						<i class="ft-corner-up-left"></i> Retour 
					</button>
					{% else %}
					<button type="submit" class="btn btn-outline-warning" name="preview" value="preview">
						<i class="ft-eye"></i> Preview
					</button>
					{% endif %}
					<button type="submit" class="btn btn-outline-success" name="submit" value="submit">
						<i class="ft-navigation"></i>Envoyer</a>
					</button>
	            </form>
	        </div> <!-- End card body -->
	    </div>	
	</div>
</div>
<script src="{% static 'src/js/core/libraries/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'src/js/chosen.jquery.min.js' %}" type="text/javascript"></script>
<script>
$('#zones').chosen({ width: '100%' });
$('#quarters').chosen({ width: '100%' });
function verifierCni(event, id_label){
	event.preventDefault();
	$label = $("#label_"+id_label);
	$field = $("#"+id_label);
	$.ajax({
		url: '/verifier-cni/',
		type: 'GET',
		dataType: 'json',
		data:{"cni":$field.val()}
	})
	.done(function(data) {
		$label.text(data.fullname);
	})
	.fail(function() {
		console.log("error");
	})
}
</script>
{% endblock %}
