{% extends 'pages/riha-base.html' %}
{% load static %}

{% block main-content %}
<style type="text/css" media="screen">
    .popover{
        overflow-x: auto;
        overflow-y: hidden;
    }
</style>

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/chosen.min.css' %}">
<div class="row"> <!-- begin global row -->

    <div class="col-xl-3 col-md-12"><!-- begin left  column -->
        <div class="card">
            <div class="card-body">
                <div class="category-title pb-1">
                    <h6 class="text-center font-medium-1 text-bold-800 text-info">
                        <i class="ft-corner-left-down"></i> pièces jointes
                    </h6>
                </div>

                <div>
                    <ul class="list-group">
                        <li class="list-group-item" data-container="body" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="right" data-content="<img src='{{ notoriete.user.profile.cni_recto.url }}' height='300' />">
                            <span class="badge badge-warning badge-pill float-right">
                            	<i class="ft-check-circle"></i>
                            </span> <a href="#" class="blue-grey darken-1 font-medium-1">
                            &nbsp; CNI Recto </a>
                        </li>
                        <li class="list-group-item" data-container="body" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="right" data-content="<img src='{{ notoriete.user.profile.cni_verso.url }}' height='300' />">
                            <span class="badge badge-warning badge-pill float-right">
                            	<i class="ft-check-circle"></i>
                            </span>
                            <a href="#" class="blue-grey darken-1 font-medium-1">
                            &nbsp; CNI Verso</a>
                        </li>
                        <li class="list-group-item" data-container="body" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="right" data-content="<img src='{{ notoriete.comparant_1.cni_recto.url }}' height='300' />">
                            <span class="badge badge-warning badge-pill float-right">
                            	<i class="ft-check-circle"></i>
                            </span>
                            <a href="#" class="blue-grey darken-1 font-medium-1">
                            &nbsp; Comparant 1 recto</a>
                        </li>
                        <li class="list-group-item" data-container="body" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="right" data-content="<img src='{{ notoriete.comparant_1.cni_verso.url }}' height='300' />">
                            <span class="badge badge-warning badge-pill float-right">
                            	<i class="ft-check-circle"></i>
                            </span>
                            <a href="#" class="blue-grey darken-1 font-medium-1">
                            &nbsp; Comparant 1 Verso</a>
                        </li>
                        <li class="list-group-item" data-container="body" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="right" data-content="<img src='{{ notoriete.user.profile.cni_verso.url }}' height='300' />">
                            <span class="badge badge-warning badge-pill float-right">
                            	<i class="ft-check-circle"></i>
                            </span>
                            <a href="#" class="blue-grey darken-1 font-medium-1">
                            &nbsp; Comparant 2 recto</a>
                        </li>
                        <li class="list-group-item" data-container="body" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="right" data-content="<img src='{{ notoriete.user.profile.cni_verso.url }}' height='300' />">
                            <span class="badge badge-warning badge-pill float-right">
                            	<i class="ft-check-circle"></i>
                            </span>
                            <a href="#" class="blue-grey darken-1 font-medium-1">
                            &nbsp; Comparant 2 Verso</a>
                        </li>
                        <li class="list-group-item" data-container="body" data-toggle="popover" data-trigger="focus" data-html="true" data-placement="right" data-content="<b>{{ notoriete.zone_payment.place }}/{{ notoriete.zone_payment.type_payement }} : <i>{{ notoriete.zone_payment.id_transaction }}</i></b>">
                            <span class="badge badge-warning badge-pill float-right">
                            	<i class="ft-check-circle"></i>
                            </span>
                            <a href="#" class="blue-grey darken-1 font-medium-1">
                            &nbsp; Paiement</a>
                        </li>
                    </ul>
                </div>                          
            </div> 
        </div>             
    </div> <!-- end left  column --> 
    <div class="col-xl-9 col-md-12"> <!-- begin right column -->           
        <div class="card border-info border-lighten-1"> <!-- begin card -->
            <div class="card-header bg-info bg-lighten-1 border-info border-lighten-1">
                <h1 class="font-medium-3 text-bold-700 text-white"><i class="ft-file-plus"></i> Attestation de notorieté</h1>
            </div>
            <div class="card-body">
				<div id="document" class="col-12 mb-2" style="overflow:auto;">
					<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
		<strong>REPUBLIQUE DU BURUNDI</strong><br/>
		<strong>PROVINCE DE {{ notoriete.zone.commune.province }}</strong><br/>
		<strong>COMMUNE URBAINE DE {{ notoriete.zone.commune }}</strong><br/>
		<strong><u>BUREAU D’ETAT-CIVIL</u></strong><br/>
		<p style="text-align: center;"><strong><u>ACTE DE NOTORIETE</u></strong></p>
		<p>
			{{ notoriete.dateString }} devant nous,  {{ notoriete.zone.leaderFullName}}, Maire de la Ville de {{notoriete.zone.commune.province}}, ont comparu :<br> <br>
			
				1. {{ notoriete.comparant_1 }}, fils(fille) de {{notoriete.comparant_1.father}}  et de  {{notoriete.comparant_1.mother}}, née à {{notoriete.comparant_1.quarter.name}},  en {{notoriete.comparant_1.birthdate}}, résidant à {{notoriete.zone.commune.province}} de nationnalité {{notoriete.comparant_1.nationnalite}}, premier comparant.<br> <br>
				2. {{ notoriete.comparant_2 }}, fils(fille) de {{notoriete.comparant_2.father}}  et de  {{notoriete.comparant_2.mother}}, née à {{notoriete.comparant_2.quarter.name}},  en {{notoriete.comparant_2.birthdate}}, résidant à {{notoriete.zone.commune.province}} de nationnalité {{notoriete.comparant_2.nationnalite}}, second comparant.<br> <br>
				
				
			Lesquels nous ont déclaré qu’en {{notoriete.user.profile.birthdate}}, est né à {{notoriete.user.profile.quarter.name }}, le nommé {{notoriete.user.profile.fullName}}, {{notoriete.user.profile.job }}, fils de {{notoriete.user.profile.father}} et de {{notoriete.user.profile.mother}}, résidant à {{notoriete.zone.commune.province}} de nationalité {{notoriete.user.profile.nationnalite}} et que l’intéressé se trouve dans l’impossibilité de produire son acte de naissance qu’il est {% if notoriete.user.profile.is_married %}
				marrié(e)
			{% else %}
				célibataire
			{% endif %}. <br> <br>

			En conséquence, le présent acte de notoriété remplace valablement son acte de naissance. <br>

			Nous attestons en outre que les déclarations faites ci-dessus concordent avec les énonciations de sa Carte d’Identité délivrée par l’Administrateur Communal, portant le №  {{notoriete.user.profile.CNI}} obtenue en date du {{notoriete.user.profile.date_delivrated}} à {{notoriete.user.profile.place_delivrated}}.<br><br>

			En foi de quoi, nous avons délivré le présent acte et après que connaissance de son contenu en a été faite aux comparants, l’avons signé avec eux. <br><br>

			<strong><u>LES COMPARANTS :</u></strong><br>

			1. {{notoriete.comparant_1.fullName}}<br>
			2. {{notoriete.comparant_2.fullName}}<br>
		</p>

		<table style="width: 588px;">
		<tbody>
		<tr>
		<td style="width: 315px;">&nbsp;</td>
		<td style="width: 275px;">
		<p style="text-align: center;"><strong> LE MAIRE DE LA VILLE DE BUJUMBURA</strong></p>
		<p style="text-align: center;"><strong>{{ notoriete.zone.leaderFullName}}</strong></p>
		</td>
		</tr>
		</tbody>
		</table>
		<p style="text-align: right;">&nbsp;</p>
	</div>
				</div>
	            <form action="." method="post" enctype="multipart/form-data" class="new-added-form">
					{% csrf_token %}
					<button type="submit" class="btn btn-outline-info round font-medium-2" name="cancel" value="cancel">
						<i class="ft-corner-up-left"></i> Retour 
					</button>
					<button type="submit" class="btn btn-outline-warning" name="preview" value="validate">
						<i class="ft-eye"></i> Valider
					</button>
					<button type="submit" id="print-button" class="btn btn-outline-success" name="print" value="print">
                        <i class="ft-eye"></i> Imprimer
                    </button>
					<button type="submit" data-id="{{ document_id }}" id="rejection-button" class="btn btn-outline-danger" name="submit" value="reject">
						<i class="ft-navigation"></i>Rejeter</a>
					</button>
	            </form>
	        </div> <!-- End card body -->
	    </div>	
	</div>
</div>

<template id="poprejeter">
    <form id="myform" role="form" method="POST" action=".">
        {% csrf_token %} 
        {{ validation_form.as_p }}
        <input type="submit" name="reject" value="rejeter" class="btn btn-outline-warning"/>
        <input type="submit" name="reset" value="laisser" class="btn btn-outline-warning dismiss"/>
    </form>
</template>

<script src="{% static 'src/js/core/libraries/jquery.min.js' %}" type="text/javascript"></script>
<script type="text/javascript">
$(document).ready(function () {

$(function () {
  $('[data-toggle="popover"]').popover()
})
	$(function(){
        $("#rejection-button").popover({
            title: '<h3>Motif</h3>',
            container: 'body',
            placement: 'bottom',
            html: true, 
            sanitize: false,
            content: $('#poprejeter').html()
        }).on('click', function(event) {
        	event.preventDefault();
            id = $(this).attr('data-id');
            $("button[type=reset]").click(function(){
                $("#rejection-button").popover('hide');
            });
            $("#myform").on('submit', function(event) {
                event.preventDefault();
                $.ajax({
                    url: "./"+id,
                    type: 'POST',
                    data: $(this).serialize()+"&reject=true",
                })
                .done(function() {
                    $("#rejection-button").popover('hide');
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                });
            });
        });
    });
$("#print-button").on('click', function(event) {
	event.preventDefault();
	printDiv();
});

function printDiv() { 
	var divContents = document.getElementById("template").innerHTML; 
	var a = window.open('', '', 'height=500, width=1000'); 
	a.document.write('<html>'); 
	a.document.write('<body>'); 
	a.document.write(divContents); 
	a.document.write('</body></html>'); 
	a.document.close(); 
	a.print(); 
	a.close();
}
});
</script>
{% endblock %}