{% load static %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Registration</title>

        <link href="{% static "css/styles.css" %}" rel="stylesheet" />
        <link href="{% static "css/all.min.css" %}" rel="stylesheet" />

    </head>
    <body style="background-color:cadetblue;">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Register incognito</h3></div>
                                    <div class="card-body">
                                        <form action="." method="post" enctype="multipart/form-data">
                                            {% csrf_token %}
                                            {{ bride_form.as_p }}
                                            <input type="submit" name="submit" value="submit" class="btn btn-primary" />
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="{% url 'register' %}">Want To register an Account ?</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer" class="mt-2">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; RIHA App</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <datalist id="zones">
            {% for zone in zones %}
                <option value="{{ zone.name }}"/> 
            {% endfor %}
        </datalist>

        <datalist id="quarters">
            {% for quarter in quarters %}
                <option value="{{ quarter }}"/> 
            {% endfor %}
        </datalist>

    </body>
<style type="text/css" media="screen">
.inline-form-control {
    width: auto;
    display: inline-block;
}
</style>
</html>
