{% extends "index.html" %}
{% load static %}
{% block main %}
<div id="document" class="col-12">
		<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
		<strong>REPUBLIQUE DU BURUNDI</strong><br/>
		<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
		<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
		<strong>PROVINCE DE {{ etat_civil.zone.commune.province }}</strong><br/>
		<strong>COMMUNE URBAINE DE {{ etat_civil.zone.commune }}</strong><br/>
		<strong><u>ZONE DE {{ etat_civil.zone.name }}</u></strong><br/><br>
		<p style="text-align: center;"><strong><u>ATTESTATION D&rsquo;ETAT-CIVIL N</u></strong><u>&deg;</u><strong><u>&hellip;&hellip;.&hellip;../2020</u></strong></p>
		<p>&nbsp;</p>
		<p>Je soussign&eacute;, {{ etat_civil.zone.leaderFullName }} Chef de Zone {{ etat_civil.zone.name }}, atteste par la pr&eacute;sente que {% if etat_civil.user.profile.gender == 'H' %}le nomm&eacute; {% else %} la nomm&eacute;e{% endif %} {{ etat_civil.user.last_name }} {{ etat_civil.user.first_name }}, {% if etat_civil.user.profile.gender == 'H' %} fils {% else %}fille {% endif %} de {{ etat_civil.user.profile.father|upper }} et de  {{ etat_civil.user.profile.mother|upper }}, originaire de la Colline {{ etat_civil.zone.name }}, Commune {{ etat_civil.zone.commune.name }}, Province {{ etat_civil.zone.commune.province }}, r&eacute;sidant actuellement dans la Municipalit&eacute; de Bujumbura &agrave; l’adresse ci-apr&egrave;s : {{ etat_civil.residence_quarter.zone.name|upper }} Q. {{ etat_civil.residence_quarter.name }}, est le suivant : <strong>{% if etat_civil.user.profile.is_married %} Mari&eacute;{% else %}C&eacute;libataire{% endif %}</strong>

				<p>La pr&eacute;sente attestation lui est d&eacute;livr&eacute;e au vu de sa Carte&nbsp; Nationale d&rsquo;Identit&eacute; &nbsp;portant &nbsp;num&eacute;ro {{ etat_civil.user.profile.CNI }} delivré à {{ etat_civil.user.profile.place_delivrated }}, le {{ etat_civil.user.profile.date_delivrated }}</p>
		</p>

		
		
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<table style="width: 588px;">
		<tbody>
		<tr>
		<td style="width: 315px;">&nbsp;</td>
		<td style="width: 275px;">
		<p style="text-align: center;"><strong>Fait &agrave; Bujumbura, le {{ today }}</strong></p>
		<p style="text-align: center;"><strong>LE CHEF DE ZONE {{ etat_civil.zone.name}}</strong></p>
		<p style="text-align: center;"><strong>{{ etat_civil.zone.leaderFullName }}></p>
		</td>
		</tr>
		</tbody>
		</table>
		<p style="text-align: right;">&nbsp;</p>
	</div>
</div>
<div style="position: fixed; right: 0px; top:40%">
  <div style="position: relative; top: -50%;" class="btn-group-vertical btn-group-lg float-right align-middle" role="group">
	<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="<img src='{{ etat_civil.user.profile.cni_recto.url }}' height='300' />">
	  CNI Recto
	</button>
	<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="<img src='{{ etat_civil.user.profile.cni_verso.url }}' height='300' />">
	  CNI verso
	</button>
	<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="<b>{{ etat_civil.payment_method }} : <i>{{ etat_civil.payment_serial }}</i></b>">
	  Payements
	</button>
	<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
	  Other
	</button>
  </div>
</div>
<div class="m-2">
	<form action="./{{ document_id }}" method="post" enctype="multipart/form-data" class="new-added-form">
		{% csrf_token %}
		<input type="text" name="rejection_msg" value="" placeholder="rejection reason" class="form-control mb-2 rejection-msg" style="display:none;">
		<input type="submit" class="btn btn-outline-secondary" name="cancel" value="cancel">
		<input type="submit" class="btn btn-outline-success" name="validate" value="validate">
		<input type="submit" class="btn btn-outline-danger" id="rejection-button" name="reject" value="reject">
		<input type="submit" class="btn btn-outline-primary" id="print-button" name="print" value="print">
	</form>
</div>
<script type="text/javascript">
$(document).ready(function () {

$(function () {
  $('[data-toggle="popover"]').popover()
})
$("#rejection-button").on('click', function(event) {
	$rejection_msg = $(".rejection-msg");
	if($rejection_msg.css('display')=="none"){
		$rejection_msg.css('display',"");
		event.preventDefault();
	}else{
		if($rejection_msg.val().trim().length>0){

		}else{
			$rejection_msg.css('display',"none");
			event.preventDefault();
		}
	}
});
$("#print-button").on('click', function(event) {
	event.preventDefault();
	printDiv();
});

function printDiv() { 
	var divContents = document.getElementById("template").innerHTML; 
	var a = window.open('', '', 'height=500, width=1000'); 
	a.document.write('<html>'); 
	a.document.write('<body>'); 
	a.document.write(divContents); 
	a.document.write('</body></html>'); 
	a.document.close(); 
	a.print(); 
}

});
</script>
{% endblock main %}