{% extends "index.html" %}
{% load static %}
{% block main %}
{% if preview %}
<div id="document" class="col-12">
	<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
		<strong>REPUBLIQUE DU BURUNDI</strong><br/>
		<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
		<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
		<strong>ET DEVELOPPEMENT LOCAL</strong><br/>
		<strong>MUNICIPALITE DE {{ vie.zone.commune.province }}</strong><br/>
		<strong>COMMUNE URBAINE DE {{ vie.zone.commune }}</strong><br/>
		<strong><u>ZONE DE {{ vie.zone.name }}</u></strong><br/>
		<p style="text-align: center;"><strong><u>ATTESTATION DE VIE N</u></strong><u>&deg;</u><strong><u>&hellip;&hellip;.&hellip;../2020</u></strong></p>
		<p>
			Je soussigné, {{vie.user.first_name }} {{ vie.user.last_name }}, Chef de Zone {{ vie.zone.name }}, atteste par la présente que {{vie.user.first_name}} {{vie.user.last_name}} fille/fils de {{vie.user.profile.father}} et de {{ vie.user.profile.mother}}, originaire de la Colline {{vie.user.profile.quarter}}, Commune {{vie.zone.commune}}, Province {{ vie.zone.commune.province }}, résidant actuellement dans la Municipalité de {{ vie.zone.commune.province }} à l’adresse ci-après Commune : {{ vie.zone.commune}}, Q. {{vie.user.profile.quarter}}, C.N.I : {{vie.user.profile.CNI }} délivrée à {{vie.zone.commune}}, le {{vie.date_delivrated}} Matricule {{vie.date_delivrated}}, s’est présentée personnellement devant nous pour nous déclarer qu’elle est encore en vie.

		</p>

		<p>La pr&eacute;sente attestation lui est d&eacute;livr&eacute;e pour faire valoir ce que de droit.</p>
		<p>&nbsp;</p>
				<p>&nbsp;</p>
		<table style="width: 588px;">
		<tbody>
		<tr>
		<td style="width: 315px;">&nbsp;</td>
		<td style="width: 275px;">
		<p style="text-align: center;"><strong>Fait &agrave; Bujumbura, le {{ today }}</strong></p>
		<p style="text-align: center;"><strong>LE CHEF DE ZONE {{ vie.zone.name}}</strong></p>
		<p style="text-align: center;"><strong>{{ vie.user.first_name }} {{ vie.user.last_name }}</strong></p>
		</td>
		</tr>
		</tbody>
		</table>
		<p style="text-align: right;">&nbsp;</p>
	</div>
</div>
{% endif %}
<div class="m-auto col-12 col-md-6">
	<form action="." method="post" enctype="multipart/form-data" class="new-added-form">
		{% csrf_token %}
		<div id="formulaire" {% if preview %} style="display: none;" {% endif %}>
			{{ form.as_p }}
		</div>
		{% if preview %}
			<input type="submit" class="btn btn-outline-danger" name="cancel" value="cancel">
			<input type="submit" class="btn btn-outline-primary" name="submit" value="submit">
		{% else %}
			<input type="submit" class="btn btn-outline-secondary" name="preview" value="preview">
		{% endif %}

		<datalist id="zones">
			{% for zone in zones %}
				<option value="{{ zone.name }}"/> 
			{% endfor %}
		</datalist>
		<datalist id="quarters">
			{% for quarter in quarters %}
				<option value="{{ quarter }}"/> 
			{% endfor %}
		</datalist>
	</form>
</div>
{% endblock main %}