{% extends "index.html" %}
{% load static %}
{% block main %}
{% if preview %}
<div id="document" class="col-12">
	<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
		<strong>REPUBLIQUE DU BURUNDI</strong><br/>
		<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
		<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
		<strong>ET DEVELOPPEMENT LOCAL</strong><br/>
		<strong>MUNICIPALITE DE {{ abandon.zone.commune.province }}</strong><br/>
		<strong>COMMUNE URBAINE DE {{ abandon.zone.commune }}</strong><br/>
		<strong><u>ZONE DE {{ abandon.zone.name }}</u></strong><br/><br><br>
		<p style="text-align: center;"><strong>ATTESTATION D'ABANDON </strong></p> <br>
			
		<p>
			Je soussigné, <strong>{{ abandon.user.last_name}}</strong>, Chef de Zone <strong> {{abandon.zone}}</strong>, atteste par la présente que l'(le, la) <strong> {{abandon.objet_abandon }}</strong> a été trouvé abandonner en Commune <strong> {{abandon.zone.commune }}</strong>, Quartier <strong> {{abandon.residence_quarter }}</strong> en date du <strong>{{ abandon.date_delivrated}}</strong>.<br><br>

			L’enquête que nous avons commence à mener le même jour pour retrouver la famille de cet enfant a été sans succès.

			Nous déclarons par conséquent cet(te) <strong> {{abandon.objet_abandon }}</strong> abandonné et le confier à <strong>{{abandon.tuteurAcueillantObjetAbandon}}</strong>.
		</p>
			<br><br><br><br>
		<table style="width: 588px;">
		<tbody>
		<tr>
		<td style="width: 315px;">&nbsp;</td>
		<td style="width: 275px;">
		<p style="text-align: center;"><strong>Fait &agrave; Bujumbura, le {{ abandon.date }}</strong></p>
		<p style="text-align: center;"><strong>LE CHEF DE ZONE {{ abandon.zone.name}}</strong></p>
		<p style="text-align: center;"><strong>{{ abandon.user.last_name}}</strong></p>
		</td>
		</tr>
		</tbody>
		</table>
		<p style="text-align: right;">&nbsp;</p>
	</div>
{% endif %}
<div class="m-auto col-12 col-md-6">
	<form action="." method="post" enctype="multipart/form-data" class="new-added-form">
		{% csrf_token %}
		<div id="formulaire" {% if preview %} style="display: none;" {% endif %}>
			{{ form.as_p }}
		</div>
		{% if preview %}
			<input type="submit" class="btn btn-outline-danger" name="cancel" value="cancel">
			<input type="submit" class="btn btn-outline-primary" name="submit" value="submit">
		{% else %}
			<input type="submit" class="btn btn-outline-secondary" name="preview" value="preview">
		{% endif %}

		<datalist id="zones">
			{% for zone in zones %}
				<option value="{{ zone.name }}"/> 
			{% endfor %}
		</datalist>
		<datalist id="quarters">
			{% for quarter in quarters %}
				<option value="{{ quarter }}"/> 
			{% endfor %}
		</datalist>
	</form>
</div>
{% endblock main %}