{% extends "index.html" %}
{% load static %}
{% block main %}
{% if preview %}
<div id="document" class="col-12">
	<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
		<strong>REPUBLIQUE DU BURUNDI</strong><br/>
		<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
		<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
		<strong>ET DEVELOPPEMENT LOCAL</strong><br/>
		<strong>MUNICIPALITE DE {{ reconnais.zone.commune.province|upper }}</strong><br/>
		<strong>COMMUNE URBAINE DE {{ reconnais.zone.commune.name|upper }}</strong><br/>
		<strong><u>ZONE DE {{ reconnais.zone.name|upper }}</u></strong><br/> <br> <br>
		<p style="text-align: center;"><strong><u>ATTESTATION DE RECONNAISSANCE N</u></strong><u>&deg;</u><strong><u>&hellip;&hellip;.&hellip;../2020</u></strong></p>
		<p>&nbsp;</p>
		<p style="text-align: justify;">Je soussign&eacute;, {{ reconnais.zone.leaderFullName }}, Chef de Zone {{ reconnais.zone.name }}, atteste par la pr&eacute;sente que l&rsquo;Association "{{ reconnais.association }}" exerce ses activit&eacute;s dans la Commune Urbaine de {{ reconnais.zone.commune.name }}, Zone {{ reconnais.zone.name }}, depuis {{ reconnais.start_year }} <br>
		La pr&eacute;sente attestation lui est d&eacute;livr&eacute;e pour servir et faire valoir ce que de droit.</p>

		<p>
			<b><u>Sous-Couvert de :</u></b><br> <br>                   

			Chef de Quartier {{ reconnais.residence_quarter.name }} <br> <br>   
																	
			{{ reconnais.residence_quarter.leaderFullName }}

		</p><p>&nbsp;</p>
		<table style="width: 588px;">
		<tbody>
		<tr>
		<td style="width: 315px;">&nbsp;</td>
		<td style="width: 275px;">
		<p style="text-align: center;"><strong>Fait &agrave; Bujumbura, le {{ reconnais.date|date:'d/m/Y' }}</strong></p>
		<p style="text-align: center;"><strong>LE CHEF DE ZONE {{ reconnais.zone.name|upper }}</strong></p>
		<p style="text-align: center;"><strong>{{ reconnais.zone.leaderFullName }}</strong></p>
		</td>
		</tr>
		</tbody>
		</table>
		<p style="text-align: right;">&nbsp;</p>
	</div>
</div>
{% endif %}
<div class="m-auto col-12 col-md-6">
	<form action="." method="post" enctype="multipart/form-data" class="new-added-form">
		{% csrf_token %}
		<div id="formulaire" {% if preview %} style="display: none;" {% endif %}>
			{% for fo in form %}
				<label for="{{ fo.id_for_label }}">{{ fo.label }}</label>
				{{ fo.non_field_errors }}
				{{ fo.errors }}
				{{ fo }}
			{% endfor %}
			<br>
		</div>

		{% if preview %}
			<input type="submit" class="btn btn-outline-danger" name="cancel" value="Cancel">
			<input type="submit" class="btn btn-outline-primary" name="submit" value="Submit">
		{% else %}
			<input id="preview" type="submit" class="btn btn-outline-secondary" name="preview" value="Preview">
			<input id="submit" type="submit" class="btn btn-outline-primary" name="submit" value="Submit">
		{% endif %}

		<datalist id="zones">
			{% for zone in zones %}
				<option value="{{ zone.name }}"/> 
			{% endfor %}
		</datalist>
		<datalist id="quarters">
			{% for quarter in quarters %}
				<option value="{{ quarter }}"/> 
			{% endfor %}
		</datalist>
	</form>
</div>
{% endblock main %}
