{% extends "index.html" %}
{% load static %}
{% block main %}
<div id="document" class="col-12">
	<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
		<strong>REPUBLIQUE DU BURUNDI</strong><br/>
		<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
		<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
		<strong>ET DEVELOPPEMENT LOCAL</strong><br/>
		<strong>MUNICIPALITE DE {{ composition.zone.commune.province}}</strong><br/>
		<strong>COMMUNE URBAINE DE {{ composition.zone.commune }}</strong><br/>
		<strong><u>ZONE DE {{ composition.zone.name }}</u></strong><br/>
		<p style="text-align: center;"><strong><u>ATTESTATION DE COMPOSITION FAMILIALE N</u></strong><u>&deg;</u><strong><u>&hellip;&hellip;.&hellip;.../2020</u></strong></p>
		<p>
			
			Je  soussigné, {{ composition.zone.leader.first_name}} {{ composition.zone.leader.last_name}}, Chef de Zone {{ composition.zone.name}}, atteste par la présente que la composition familiale de Monsieur {{composition.user.first_name}} {{composition.user.last_name}}, fils de {{composition.user.profile.father}} et de {{composition.user.profile.mother}}, originaire de la Colline {{composition.user.profile.colline}}, Commune {{composition.user.profile.commune_natal}}, Province {{composition.user.profile.province_natal}}, de nationalité {{composition.user.profile.nationnalite}}, résidant actuellement dans la Municipalité de {{composition.zone.commune.province }} à l’adresse ci–après : {{composition.zone.name}}, Q.{{composition.residence_quarter}}, est la suivante : Marié  à  {{composition.fullname_lady}}.<br>
			<br><br>
		</p>
			<p><strong><u>Enfants issus du Mariage avec</u></strong> <br>
			- {{composition.fullname_child}} née en {{composition.date_delivrated}} <br>

		</p>

		<p>La pr&eacute;sente attestation lui est d&eacute;livr&eacute;e au vu de sa Carte  Nationale d’Identité  portant  numéro {{ composition.user.profile.CNI }} délivrée  à {{composition.user.profile.commune_natal}},  {{composition.date_delivrated}}.</p>
		<p>&nbsp;</p>
		<table style="width: 588px;">
		<tbody>
		<tr>
		<td style="width: 415px;">&nbsp;</td>
		<td style="width: 375px;">
		<p style="text-align: center;margin: 5px;float: right;"><strong>Fait &agrave; Bujumbura, le {{ composition.date_delivrated }}</strong></p>
		<p style="text-align: center;"><strong>LE CHEF DE ZONE {{ composition.zone.name}}</strong></p>
		<p style="text-align: center;"><strong>{{ composition.zone.leader.first_name}} {{ composition.zone.leader.last_name}}</strong></p>
		</td>
		</tr>
		</tbody>
		</table>
		<p style="text-align: center;">&nbsp;</p>
	</div>
</div>
<div style="position: fixed; right: 0px; top:40%">
  <div style="position: relative; top: -50%;" class="btn-group-vertical btn-group-lg float-right align-middle" role="group">
	<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="<img src='{{ id_compl.user.profile.cni_recto.url }}' height='300' />">
	  CNI Recto
	</button>
	<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="<img src='{{ id_compl.user.profile.cni_verso.url }}' height='300' />">
	  CNI verso
	</button>
	<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="<b>{{ id_compl.payment_method }} : <i>{{ id_compl.payment_serial }}</i></b>">
	  Payements
	</button>
	<button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover"  data-html="true" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
	  Other
	</button>
  </div>
</div>
<div class="m-2">
	<form action="./{{ document_id }}" method="post" enctype="multipart/form-data" class="new-added-form">
		{% csrf_token %}
		<input type="text" name="rejection_msg" value="" placeholder="rejection reason" class="form-control mb-2 rejection-msg" style="display:none;">
		<input type="submit" class="btn btn-outline-secondary" name="cancel" value="cancel">
		<input type="submit" class="btn btn-outline-success" name="validate" value="validate">
		<input type="submit" class="btn btn-outline-danger" id="rejection-button" name="reject" value="reject">
		<input type="submit" class="btn btn-outline-primary" id="print-button" name="print" value="print">
	</form>
</div>
<script type="text/javascript">
$(document).ready(function () {

$(function () {
  $('[data-toggle="popover"]').popover()
})
$("#rejection-button").on('click', function(event) {
	$rejection_msg = $(".rejection-msg");
	if($rejection_msg.css('display')=="none"){
		$rejection_msg.css('display',"");
		event.preventDefault();
	}else{
		if($rejection_msg.val().trim().length>0){

		}else{
			$rejection_msg.css('display',"none");
			event.preventDefault();
		}
	}
});
$("#print-button").on('click', function(event) {
	event.preventDefault();
	printDiv();
});

function printDiv() { 
	var divContents = document.getElementById("template").innerHTML; 
	var a = window.open('', '', 'height=500, width=1000'); 
	a.document.write('<html>'); 
	a.document.write('<body>'); 
	a.document.write(divContents); 
	a.document.write('</body></html>'); 
	a.document.close(); 
	a.print(); 
	a.close();
}

});
</script>
{% endblock main %}