{% extends 'pages/riha-base.html' %}
{% block main-content %}
<div class="row"> <!-- begin global row -->
    <div class="col-xl-3 col-md-12"><!-- begin left  column -->
        <div class="card">
            <div class="card-body">
                <div class="category-title pb-1">
                    <h6 class="text-center font-medium-1 text-bold-800 text-success">
                        <i class="ft-package"></i> Comptes
                    </h6>
                </div>
                <div>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">
                            <a href="#" class="blue-grey darken-1 font-medium-1">
                                <strong> {{ document.price }}  </strong> 
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="blue-grey darken-1 font-medium-1"> 
                                <i class="ft-shopping-cart success"></i> LUMICASH : {{ document.zone.lumicash }}
                            </a>   
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="blue-grey darken-1 font-medium-1"> 
                                <i class="ft-shopping-cart success"></i> ECOCASH : {{ document.zone.ecocash }}
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="blue-grey darken-1 font-medium-1"> 
                                <i class="ft-shopping-cart success"></i> BCB : {{ document.zone.bcb }}
                            </a>
                        </li>
                    </ul>
                </div>

            </div> 
        </div>             
    </div> <!-- end left  column --> 


    <div class="col-xl-9 col-md-12"> <!-- begin right column -->           
        <div class="card border-info border-lighten-1"> <!-- begin card -->

            <div class="card-header bg-info bg-lighten-1 border-info border-lighten-1">

                <h1 class="font-medium-3 text-bold-700 text-white"><i class="ft-shopping-cart"></i> Payment</h1>

            </div>

            <div class="card-body"><!-- Begin card body -->
                <form action="{% url payform deces %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">                     
                        <p>
                            <label for="large-select" class="text-bold-600 font-medium-2">Payment Method</label>
                        </p>
                        {{ form.type_payement }}
                    </div>

                    <div class="form-group">                     
                        <p>
                            <label for="Transaction-code" class="text-bold-600 font-medium-2">Transaction Code</label>  
                        </p>
                        {{ form.id_transaction }}
                    </div>

                    <div class="form-group">                     
                        <p>
                            <label for="Transaction-code" class="text-bold-600 font-medium-2">Bordereau</label>   
                        </p>
                        {{ form.bordereau }}
                    </div>
                    <hr/>
                    <div class="text-right">
                        <a href=".." class="btn btn-outline-info round font-medium-2">
                            <i class="ft-corner-up-left"></i> Retour 
                        </a>

                        <button class="btn btn-outline-success"><i class="ft-navigation"></i>Envoyer</button>                                              
                    </div>
                </form>
            </div><!-- End card body -->
        </div><!-- End card -->
    </div> <!-- End right column --> 
</div><!-- end global row -->

{% endblock %}

    <!-- BEGIN: Content-->
    <div class="app-content content">
        <div class="content-wrapper">

        <div class="content-body">

            <div class="row">
                <div class="col-xl-3 col-md-12">


                    <div class="sidebar-content card d-none d-lg-block">
                        <div class="card-body">


                            <div class="category-title pb-1">
                                <h6 class="text-center font-medium-1 text-bold-800 text-info">
                                    <i class="ft-package"></i> Comptes
                                </h6>
                            </div>

                            <div>
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <span class="badge badge-success badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Prix : BIF 2,000</a>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-success badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; LUMICASH : 86800</a>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-success badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; ECOCASH : 86800</a>
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge badge-success badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; BCB : 202689458600</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>  
                <div class="col-xl-9 col-md-12">
                            <div class="card border-info border-lighten-1">


                              <div class="card-header bg-info bg-lighten-1 border-info border-lighten-1">
                               
                                    <h1 class="font-medium-3 text-bold-700 text-white"><i class="ft-shopping-cart"></i> Payment</h1>
                          
                              </div>

                              <div class="card-body">
                                <div>
                              </div>
                            </div>
                </div>  
            </div>
        </div>
        </div>
    </div>
    <!-- END: Content-->


    <!-- BEGIN: Footer-->
    <a class="btn btn-try-builder btn-bg-gradient-x-purple-red btn-glow white" href="https://www.themeselection.com/layout-builder/horizontal" target="_blank">
            Contact Support
    </a>

    <footer class="footer footer-static footer-light navbar-border navbar-shadow">
        <div class="clearfix blue-grey lighten-2 text-sm-center mb-0 px-2"><span class="float-md-left d-block d-md-inline-block">2019 &copy; Copyright <a class="text-bold-800 grey darken-2" href="https://themeselection.com" target="_blank">ThemeSelection</a></span>
            <ul class="list-inline float-md-right d-block d-md-inline-blockd-none d-lg-block mb-0">
                <li class="list-inline-item"><a class="my-1" href="https://themeselection.com/" target="_blank"> More themes</a></li>
                <li class="list-inline-item"><a class="my-1" href="https://themeselection.com/support" target="_blank"> Support</a></li>
            </ul>
        </div>
    </footer>
    <!-- END: Footer-->
    <!-- BEGIN: Vendor JS-->
    <script src="app-assets/vendors/js/vendors.min.js"></script>
    <!-- BEGIN Vendor JS-->

    <!-- BEGIN: Page Vendor JS-->
    <script type="text/javascript" src="app-assets/vendors/js/ui/jquery.sticky.js"></script>
    <!-- END: Page Vendor JS-->

    <!-- BEGIN: Theme JS-->
    <script src="app-assets/js/core/app-menu.js" type="text/javascript"></script>
    <script src="app-assets/js/core/app.js" type="text/javascript"></script>
    <!-- END: Theme JS-->

    <!-- BEGIN: Page JS-->
    <script type="text/javascript" src="app-assets/js/scripts/pages/sk-content-sidebar.js"></script>
    <!-- END: Page JS-->
    <!-- BEGIN: Page JS-->
    <script src="app-assets/js/scripts/forms/select/form-select2.js" type="text/javascript"></script>
    <!-- END: Page JS-->

</body>
<!-- END: Body-->

</html>