{% extends "index.html" %}
{% load static %}
{% block main %}
{% if preview %}
<div id="document" class="col-12">
	<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black; ">
		<div style="text-transform: uppercase;">
			<strong>REPUBLIQUE DU BURUNDI</strong><br/>
			<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
			<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
			<strong>ET DEVELOPPEMENT LOCAL</strong><br/>
			<strong>MUNICIPALITE DE {{ deces.zone.commune.province }}</strong><br/>
			<strong>COMMUNE URBAINE DE {{ deces.zone.commune }}</strong><br/>
			<strong>ZONE DE {{ deces.zone.name }}</strong><br/>
			<strong><u>BUREAU D’ETAT CIVIL</u></strong><br/><br><br> <br>
			<strong> 
				<table>
				<tbody>
				<tr>
				<td>ACTE   № </td>
				<td>:{{deces.acte}}</td>
				</tr>
				<tr>
				<td>VOLUME № </td>
				<td>: {{deces.volume}}</td>
				</tr>	
				</tbody>
				</table>	
			</strong>
			<br><br>  <br>  
		</div>                                    
		<p style="text-align: center;"><strong><u>EXTRAIT D’ACTE DE DECES</u></strong></strong></p>
		<p>
			{{deces.dateString}},  est décédée à {{deces.zone.commune.province}}, le nommé {{deces.defunt.fullName}} , âgé de {{deces.defunt.age_user}} ans, profession {{deces.defunt.job}}, de nationalité {{ deces.defunt.nationnalite }}, fils de {{ deces.defunt.father }} et de  {{ deces.defunt.mother }}, ayant résidé de son vivant dans la Municipalité de {{deces.zone.commune.province}}, à l’adresse ci-après : {{deces.zone.name}}.<br><br>

			Le défunt  était né à {{ deces.defunt.quarter }},  et était 
			{% if deces.defunt.is_married %}
				marrié(e)
			{% else %}
				célibataire
			{% endif %}.<br>
		</p>
		<br><br><br>
		<table style="width: 588px;">
		<tbody>
		<tr>
		<td style="width: 315px;">&nbsp;</td>
		<td style="width: 275px;">
		<p style="text-align: center;"><strong>Fait &agrave; Bujumbura, le {{ today }}</strong></p>
		<p style="text-align: center;"><strong>LE CHEF DE ZONE {{ deces.zone.name}}</strong></p>
		<p style="text-align: center;"><strong>{{ deces.zone.leaderFullName }} </strong></p>
		</td>
		</tr>
		</tbody>
		</table>
		<p style="text-align: right;">&nbsp;</p>
	</div>
</div>
{% endif %}
<div class="m-auto col-12 col-md-6">
	<form action="." method="post" enctype="multipart/form-data" class="new-added-form">
		{% csrf_token %}
		<div id="formulaire" {% if preview %} style="display: none;" {% endif %}>
			{{ form.as_p }}
		</div>
		{% if preview %}
			<input type="submit" class="btn btn-outline-danger" name="cancel" value="cancel">
			<input type="submit" class="btn btn-outline-primary" name="submit" value="submit">
		{% else %}
			<input type="submit" class="btn btn-outline-secondary" name="preview" value="preview">
		{% endif %}

		<datalist id="zones">
			{% for zone in zones %}
				<option value="{{ zone.name }}"/> 
			{% endfor %}
		</datalist>
		<datalist id="quarters">
			{% for quarter in quarters %}
				<option value="{{ quarter }}"/> 
			{% endfor %}
		</datalist>
	</form>
</div>
{% endblock main %}