{% extends 'pages/riha-base.html' %}
{% load static %}

{% block main-content %}

	<link rel="stylesheet" type="text/css" href="{% static 'assets/css/chosen.min.css' %}">
<div class="row"> <!-- begin global row -->

	<div class="col-xl-3 col-md-12"><!-- begin left  column -->
		<div class="card">
			<div class="card-body">
				<div class="category-title pb-1">
					<h6 class="text-center font-medium-1 text-bold-800 text-info">-
						<i class="ft-corner-left-down"></i> Requirements
					</h6>
				</div>

				<div>
					<ul class="list-group">
						<li class="list-group-item">
							<span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Carte Nationale d'Identite </a>
						</li>
						<li class="list-group-item">
							<span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Agakaye ko Murugo</a>
						</li>
						<li class="list-group-item">
							<span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Attestation des enfants</a>
						</li>
						<li class="list-group-item">
							<span class="badge badge-warning badge-pill float-left"><i class="ft-check-circle"></i></span> <a href="#" class="blue-grey darken-1 font-medium-1">     &nbsp; Photo passport</a>
						</li>
					</ul>
				</div>                          
			</div> 
		</div>             
	</div> <!-- end left  column --> 
	<div class="col-xl-9 col-md-12"> <!-- begin right column -->           
		<div class="card border-info border-lighten-1"> <!-- begin card -->
			<div class="card-header bg-info bg-lighten-1 border-info border-lighten-1">
				<h1 class="font-medium-3 text-bold-700 text-white"><i class="ft-file-plus"></i>Attestation de reconnaissance</h1>
			</div>
			<div class="card-body">
				{% if preview %}
				<div id="document" class="col-12">
					<div id="template" class="m-auto" style="width: 21cm;padding: 2cm;border:1px solid black;">
						<strong>REPUBLIQUE DU BURUNDI</strong><br/>
						<strong>MINISTERE DE L&rsquo;INTERIEUR </strong><br/>
						<strong>ET DE LA FORMATION PATRIOTIQUE </strong><br/>
						<strong>ET DEVELOPPEMENT LOCAL</strong><br/>
						<strong>MUNICIPALITE DE {{ acte_reconnais.search_place.zone.commune.province|upper }}</strong><br/>
						<strong>COMMUNE URBAINE DE {{ acte_reconnais.search_place.zone.commune.name|upper }}</strong><br/>
						<strong><u>ZONE DE {{ acte_reconnais.search_place.zone.name|upper }}</u></strong><br/>

						<div class="row">
							
							<div class="col-3">
								MARRIAGE <br>
								ACTE : {{ acte_reconnais.acte }}<br>VOLUME : {{ acte_reconnais.volume }}
							</div>
							<div class="col-9 text-center">
								

							<p style="text-align: center;"><strong><u>ACTE DE L’ETAT CIVIL N</u></strong><u>&deg;</u><strong><u>&hellip;&hellip;.&hellip;/2020 <br> ACTE DE RECONNAISSANCE</u></strong></p>
							<p>&nbsp;</p>
							<p class="text-justify">&emsp;&emsp;&emsp;{{ acte_reconnais.dateString }} , devant nous {{ acte_reconnais.search_place.zone.leaderFullName }}
							, Officier de l’Etat Civil à {{ acte_reconnais.search_place.zone.commune.province.name }}, a comparu : {{ user.profile.fullName }} ,
							{{ user.profile.job }} , {% if user.profile.gender == 'H' %} fils {% else %} fille {% endif %} de {{ user.profile.father|default:"sans" }} et de
								{{ user.profile.mother|default:"sans" }}, {% if user.profile.gender == 'H' %} né {% else %} née {% endif %} à {{ user.profile.quarter.name }} en {{ user.profile.birthdate }},
								résidant actuellement à {{ user.profile.residence.zone.commune.province.name }}, de nationalité {{ user.profile.nationnalite }} , lequel nous a déclaré en présence de
								{{ acte_reconnais.witness1.fullName }}, {{ acte_reconnais.witness1.job }}, {% if acte_reconnais.witness1.gender == 'H' %} agé {% else %} agée {% endif %} de {{ acte_reconnais.witness1.birthdate|date:'-Y'|add:2020 }} ans, résidant à {{ acte_reconnais.witness1.residence.zone.commune.province.name }}, de nationalité {{ acte_reconnais.witness1.nationnalite }}, et de 
								{{ acte_reconnais.witness2.fullName }}, {{ acte_reconnais.witness2.job }}, {% if acte_reconnais.witness2.gender == 'H' %} agé {% else %} agée {% endif %} de {{ acte_reconnais.witness1.birthdate|date:'-Y'|add:2020 }} ans,	résidant à {{ acte_reconnais.witness2.residence.zone.commune.province.name }}, de nationalité {{ acte_reconnais.witness2.nationnalite }},
							 qu’il reconnait pour son enfant naturel l’enfant de sexe {% if acte_reconnais.child.gender == 'H' %} masculin {% else %} féminin {% endif %} auquel a été donné le nom et prénom de {{ acte_reconnais.child.fullName }},
							 {% if acte_reconnais.child.gender == 'H' %} né {% else %} née {% endif %} à {{ acte_reconnais.child.quarter.zone.commune.province.name }}, le {{ acte_reconnais.child.dateString1 }} de lui-même déclarant et de {{ acte_reconnais.wife.fullName }}, {% if acte_reconnais.wife.gender == 'H' %} agé {% else %} agée {% endif %} de {{ acte_reconnais.wife.birthdate|date:'-Y'|add:2020 }} ans, 
								{{ acte_reconnais.wife.job }}, résidant à {{ acte_reconnais.wife.residence.zone.commune.province.name }}, de nationalité {{ acte_reconnais.wife.nationnalite }}

							</p>
							<br>
							<p class="text-justify">En foi de quoi, nous avons dressé le présent acte et après que connaissance de son contenu en a été donnée aux comparants et aux témoins, l’avons signé avec eux.</p>
							<p class="text-center">L’OFFICIER DE L’ETAT CIVIL <br>
									Sé/ {{ acte_reconnais.search_place.zone.leaderFullName }}</p>
						
							<div class="row">
								<div class="col-6 text-justify">
									<b><u>LES COMPARANTS</u></b> <br>
									1. {{ user.profile.fullName }}<br>
									2. {{ acte_reconnais.wife.fullName }} <br>

									<b>LE CHEF DE QUARTIER {{ acte_reconnais.search_place.name|upper }}</b>
									{{ acte_reconnais.search_place.leaderFullName }}
								</div>
								<div class="col-6 text-justify">
									<b><u>LES TEMOINS</u></b> <br>
									1. {{ acte_reconnais.witness1.fullName }} <br>
									2. {{ acte_reconnais.witness2.fullName }} <br>
									<p style="text-align: justify;"><strong>FAIT &agrave; {{ acte_reconnais.search_place.zone.commune.province.name|upper }}, le {{ acte_reconnais.date|date:'d/m/Y' }}</strong></p>
									<p style="text-align: justify;"><strong>LE CHEF DE ZONE {{ acte_reconnais.search_place.zone.name|upper }}</strong></p>
									<p style="text-align: justify;"><strong>{{ acte_reconnais.search_place.zone.leaderFullName }}</strong></p>
								</div>
							</div>

							</div>
						</div>

					</div>
				</div>
				{% endif %}
				<form method="post" enctype="multipart/form-data" class="new-added-form">
					{% csrf_token %}
					<div id="formulaire" {% if preview %} style="display: none;" {% endif %}>
						{% for fo in form %}

						<div class="step-one">
							{% if forloop.counter <= 5 %}
							<label style = "margin-top:2%;margin-bottom:2%;" for="{{ fo.id_for_label }}">{{ fo.label }}</label>
							{{ fo.non_field_errors }}
							{{ fo.errors }}
							{{ fo }}
							{% endif %}
						</div>
			
						<div class="step-two">
							{% if forloop.counter >= 6 %}
							<label style = "margin-top:2%;margin-bottom:2%;" for="{{ fo.id_for_label }}">{{ fo.label }}</label>
							{{ fo.non_field_errors }}
							{{ fo.errors }}
							{{ fo }}
							{% endif %}
						</div>
			
						{% endfor %}
				</div>
					{% if preview %}
					<button input type="submit" class="btn btn-outline-danger mt-1 ml-1" name="cancel" value="cancel">
					<i class="ft-corner-up-left"></i> Retour 
				</button>
					{% else %}
					<button id="preview" type="submit" class="btn btn-outline-warning mt-1" name="preview" value="preview">
						<i class="ft-eye"></i> Preview
					</button>
					<a id="continue1" class="btn btn-outline-primary mt-1">Step 1</a>
					<a id="continue2" class="btn btn-outline-primary mt-1">Step 2</a>

					{% endif %}
					<button type="submit" class="btn btn-outline-success mt-1" name="submit" value="submit">
						<i class="ft-navigation"></i>Modifier</a>
					</button>
				</form>
			</div> <!-- End card body -->
		</div>	
	</div>
</div>
<script src="{% static 'src/js/core/libraries/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'src/js/chosen.jquery.min.js' %}" type="text/javascript"></script>
<script>
	$('#search_place').chosen({ width: '100%' });

    $(".step-two").hide();
	$("#continue1").hide();
	$("#continue2").show();
	$("#preview").hide();
	$("#submit").hide();

    $("#continue1").click(function(){
		$(".step-one").show();
		$(".step-two").hide();
		$("#continue1").hide();
		$("#continue2").show();
		$("#preview").hide();
		$("#submit").hide();
    });

    $("#continue2").click(function(){
        $(".step-one").hide();
        $(".step-two").show();
		$("#continue2").hide();
		$("#continue1").show();
		$("#preview").show();
		$("#submit").show();
    });

</script>
{% endblock %}

